<!-- 
<mat-tab-group>
    <mat-tab label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group> -->
<!-- <div class="border-bottom tolbar mb-5 px-4">
    <a href="#" class="btn btn-active-light-primary ">Primary</a>
    <a href="#" class="btn btn-active-light-primary ">Primary</a>
  </div> -->
<div *ngIf="isLoading" class="pause d-flex align-items-center justify-content-center">
    <div class="spinner"></div>
</div>
<div class="border-bottom tolbar mb-5 px-4   d-flex align-items-stretch justify-content-between">
    <ul class="nav nav-line-tabs nav-line-tabs-1x nav-stretch ">
        <li class="nav-item">
            <a data-bs-toggle="tab" class="nav-link px-4" (click)="getSelectedTab('NewJob')"
                [ngClass]="{'active': selectedTab=='NewJob', 'cursor-pointer': selectedTab !=='NewJob'}"> New Jobs <span class="badge badge-light-primary ms-3">
                    <i class="bi bi-arrow-down-left px-1 text-primary fs-9 me-2"></i> {{jobCount?.activeJobPost}}</span> </a>
        </li>

        <li class="nav-item">
            <a data-bs-toggle="tab" class="nav-link px-4" (click)="getSelectedTab('AppliedJob')"
                [ngClass]="{'active': selectedTab=='AppliedJob', 'cursor-pointer': selectedTab !=='AppliedJob'}"> Applied Jobs <span
                    class="badge badge-light-warning ms-3"><i
                        class="bi bi-arrow-up-right px-1 text-warning fs-9 me-2"></i> {{jobCount?.appliedjobcount}}</span></a>
        </li>
        <li class="nav-item">
            <a data-bs-toggle="tab" class="nav-link px-4" (click)="getSelectedTab('ConfirmedJob')"
                [ngClass]="{'active': selectedTab=='ConfirmedJob', 'cursor-pointer': selectedTab !=='ConfirmedJob'}"> Confirmed Jobs
                <span
                    class="badge badge-light-success ms-3"><i class="bi bi-check2-circle fs-7 me-2"></i> {{jobCount?.confirmedjobcount}}</span></a>
        </li>
    </ul>
    <!-- <a href="" class="btn btn-primary btn-sm cursor-pointer my-2" routerLink="creat-job-post" > Create Job Post</a> -->
    </div>
    <div class="row g-xl-12 mb-5 mb-xl-12">
        <div class="w-250px text-gray-600">
            <div class="card p-4">
                <div class="position-relative input-icon  ">
                    <input type="text" class="form-control py-2 fs- fw-normal px-11" #searchFilterInp  placeholder="Search for a Job"  (keyup)="searchFilter($event)"/>
                    <span><i class="fa fa-search "></i></span>
                    <span class="cursor-pointer text-active-primary pspinpClose" 
                    (click) = "searchFilterInp.value = '';clearSearch();" *ngIf="searchFilterInp.value">
                    <i class="bi bi-x-lg text-active-primary"></i></span>
                </div>

                <div class="py-4">
                    Filter by <a class="px-4 fs-8 cursor-pointer" (click)="resetFilter();searchFilterInp.value = ''">Reset Filter</a>
                </div>
                <div class="separator mb-5"></div>

                <div class="fs-8 text-muted mb-5 mt-3">Job Type </div>
                <label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary">
                    <input type="checkbox" [checked]="selected" value="All" (change)="filterJobType($event, -1)"/>
                    <span></span>
                    All
                </label>
                <label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary"
                    *ngFor="let types of jobTypes;let index = index;">
                    <input type="checkbox" [checked]="selectedJobTypes[index]" [value]="types.id" (change)="filterJobType($event, index)"/>
                    <span></span>
                    {{types.name}}
                </label>

                <ng-container *ngIf="selectedTab=='AppliedJob'">
                    <div class="fs-8 text-muted mb-2 mt-5">JOB Status </div>
                    <label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary">
                            <input type="checkbox" value="All" [checked]="selectedJobStatusAll" (change)="filterJobStatus($event, -1)"/>
                        <span></span> All Types
                    </label>
                    <label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary">
                            <input type="checkbox" value="OfferSent" [checked]="selectedJobStatus[0]" (change)="filterJobStatus($event, 0)"/>
                        <span></span> Offer Sent
                    </label>
                    <label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary">
                        <input type="checkbox" value="OnHold" [checked]="selectedJobStatus[1]" (change)="filterJobStatus($event, 1)"/>
                        <span></span>  On Hold
                    </label>
                    <label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary">
                        <input type="checkbox" value="Rejected" [checked]="selectedJobStatus[2]" (change)="filterJobStatus($event, 2)"/>
                        <span></span>  Rejected
                    </label>
                    </ng-container>
           

            <div class="fs-8 text-muted mb-2 mt-5">PAY RATE </div>
                <label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary">
                    <input type="checkbox" value="All" [checked]="selectedJobKindAll" (change)="filterJobKind($event, -1)"/>
                    <span></span> All 
                </label>
                <label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary">
                    <input type="checkbox" value="Hourly" [checked]="selectedJobKind[0]" (change)="filterJobKind($event, 0)"/>
                    <span></span> Hour Based
                </label>
                <label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary">
                    <input type="checkbox" value="Fixed" [checked]="selectedJobKind[1]" (change)="filterJobKind($event, 1)"/>
                    <span></span> Fixed
                </label>
                           

          
            <div class="fs-8 text-muted mt-5 mb-3">Work Area</div>
            <div class="mb-5">
                <mat-select class="form-select fs- py-2"  placeholder="Select Site" [(value)] = "filter.site" (selectionChange)="filterSite($event)">
                    <mat-option *ngFor="let sites of sitesList" [value]="sites.code">
                        {{sites.name}} ({{sites.code}})
                    </mat-option>
                </mat-select>
            </div>
            <div class="mb-5">
                <mat-select class="form-select fs- py-2"  placeholder="Select Business Unit" [(value)] = "filter.businessUnit" (selectionChange)="filterBusinessUnit($event)">
                    <mat-option *ngFor="let units of businessUnits" [value]="units.code">
                        {{units.name}}
                    </mat-option>
                </mat-select>
            </div>
        </div>
    </div>

    <div class="col ">
        <ng-container *ngIf="selectedTab=='NewJob'">
            <ng-container *ngFor="let details of jobDetails | slice: currentPage * pageSize : (currentPage + 1) * pageSize">
                <div class="card mb-2 ">
                    <div class="card-body py-5">

                        <div class="d-flex justify-content-between align-items-start flex-wrap">
                            <div class="d-flex flex-column w-75">

                                <h6 class="text-dark  text-gray-800 fs-3  me-1">
                                    {{details.title}}
                                </h6>
                                <div class="d-flex">
                                    <a class="fw-bold display-inline cursor-pointer" (click)="goToDetails(details.id)"> #{{details.id}}</a>
                                </div>
                                <span class="fs-9 text-muted mt-1 mb-5">{{details.reportDate | date:'dd MMM, yyyy'}}</span>


                                <div class="d-flex flex-wrap flex-stack">
                                    <div class="d-flex flex-column flex-grow-1 pe-8">
                                        <div class="d-flex flex-wrap lign-items-center">
                                            <div class=" me-10 my-1">
                                                <span class="d-flex text-muted fs-8">{{details.jobKind == 'Fixed' ? 'Budget' : 'Working Rate'}}</span>
                                                <span class="fw-bold d-flex">{{details.jobKind == 'Fixed' ? details.minBudget + ' ~ ' + details.maxBudget : details.rate}} {{details.currency}}</span>
                                            </div>
                                          
                                            <div class="vr me-5 mt-4 h-20px "></div>
                                            <div class=" me-10 my-1">
                                                <span class="d-flex text-muted fs-8">Business Unit</span>
                                                <span class="fw-bold d-flex ">{{details.businessUnit}}</span>
                                            </div>
                                            <div class="vr me-5 mt-4 h-20px "></div>
                                            <div class=" me-10 my-1">
                                                <span class="d-flex text-muted fs-8">Site</span>
                                                <span class="fw-bold d-flex">{{details.site}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div> <i class="far fa-calendar my-2 me-4"></i> {{details.startDate | date:'MMM dd'}} - {{details.endDate | date:'dd MMM, yyyy'}} </div>
                                <div><i class="fas fa-coins my-2  me-4"></i> {{details.jobKind}}</div>
                                <div><i class="fas fa-suitcase my-2  me-4"></i>{{details.type}}</div>
                                <a class="btn btn-primary btn-sm cursor-pointer mt-3" (click)="goToDetails(details.id)"> Apply Now</a>
                            </div>
                        </div>
                    </div>
                </div>

            </ng-container>
        </ng-container>

        <ng-container *ngIf="selectedTab=='AppliedJob'">
            <ng-container *ngFor="let details of jobDetails | slice: currentPage * pageSize : (currentPage + 1) * pageSize">
                <div class="card mb-2 cursor-pointer" (click)="goToDetails(details.id)">
                    <div class="card-body py-5">

                        <div class="d-flex justify-content-between align-items-start flex-wrap">
                            <div class="d-flex flex-column w-75">

                                <h6 class="text-dark  text-gray-800 fs-3  me-1">
                                    {{details.title}}
                                </h6>
                                <div class="d-flex">
                                    <a class="cursor-pointer fw-bold display-inline"> #{{details.id}}</a>
                                    <span class="badge badge-light-success fw-normal ms-3"><i class="fas fa-yin-yangfas fa-circle px-1 text-success fs-10"></i> Published </span>
                                </div>
                                <span class="fs-9 text-muted mt-1 mb-5">{{details.reportDate | date:'dd MMM, yyyy'}}</span>

                                <div class="d-flex flex-wrap flex-stack">
                                    <div class="d-flex flex-column flex-grow-1 pe-8">
                                        <div class="d-flex flex-wrap lign-items-center text-gray-700">
                                            <div class=" me-10 my-1">
                                                <span class="d-flex text-muted fs-8">{{details.jobKind == 'Fixed' ? 'Budget' : 'Working Rate'}}</span>
                                                <span class="fw-bold d-flex">{{details.jobKind == 'Fixed' ? details.minBudget + ' ~ ' + details.maxBudget : details.rate}} {{details.currency}}</span>
                                            </div>
                                         
                                            <div class="vr me-5 mt-4 h-20px "></div>
                                            <div class=" me-10 my-1">
                                                <span class="d-flex text-muted fs-8">Business Unit</span>
                                                <span class="fw-bold d-flex">{{details.businessUnit}}</span>
                                            </div>
                                            <div class="vr me-5 mt-4 h-20px "></div>
                                            <div class=" me-10 my-1">
                                                <span class="d-flex text-muted fs-8">Site</span>
                                                <span class="fw-bold d-flex">{{details.site}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div> <i class="far fa-calendar my-2 me-4"></i> {{details.startDate | date:'MMM dd'}} - {{details.endDate | date:'dd MMM, yyyy'}} </div>
                                <div><i class="fas fa-coins my-2  me-4"></i> Hourly</div>
                                <div><i class="fas fa-suitcase my-2  me-4"></i>{{details.type}}</div>
                                <div class=" mt-4  d-flex">
                                    <div class="symbol symbol-35px symbol-circle me-3">
                                            <img src="../../../assets/media/avatars/300-12.jpg" alt="">
                                    </div>

                                    <div>
                                        <span class="d-flex text-muted fs-8">Worker</span>
                                        <span class="fw-bold d-flex s-">Shirley Lopez</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="selectedTab=='ConfirmedJob'">
            <ng-container *ngFor="let details of jobDetails | slice: currentPage * pageSize : (currentPage + 1) * pageSize">
                <div class="card mb-2">
                    <div class="card-body py-5">
                        <div class="d-flex justify-content-between align-items-start flex-wrap">
                            <div class="d-flex flex-column w-75">
                                <h6 class="text-dark  text-gray-800 fs-3  me-1">{{details.title}}</h6>
                                <div class="d-flex">
                                    <a class="fw-bold display-inline"> #{{details.id}}</a>
                                </div>
                                <span class="fs-9 text-muted mt-1 mb-5">{{details.reportDate | date:'dd MMM, yyyy'}}</span>

                                <div class="d-flex flex-wrap flex-stack">
                                    <div class="d-flex flex-column flex-grow-1 pe-8">
                                        <div class="d-flex flex-wrap lign-items-center text-gray-700">
                                            <div class=" me-10 my-1">
                                                <span class="d-flex text-muted fs-8">{{details.jobKind == 'Fixed' ? 'Budget' : 'Working Rate'}}</span>
                                                <span class="fw-bold d-flex">{{details.jobKind == 'Fixed' ? details.minBudget + ' ~ ' + details.maxBudget : details.rate}} {{details.currency}}</span>
                                            </div>
                                         
                                            <div class="vr me-5 mt-4 h-20px "></div>
                                            <div class=" me-10 my-1">
                                                <span class="d-flex text-muted fs-8">Business Unit</span>
                                                <span class="fw-bold d-flex">{{details.businessUnit}}</span>
                                            </div>
                                            <div class="vr me-5 mt-4 h-20px "></div>
                                            <div class=" me-10 my-1">
                                                <span class="d-flex text-muted fs-8">Site</span>
                                                <span class="fw-bold d-flex">{{details.site}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div> <i class="far fa-calendar my-2 me-4"></i> {{details.startDate | date:'MMM dd'}} - {{details.endDate | date:'dd MMM, yyyy'}} </div>
                                <div><i class="fas fa-coins my-2  me-4"></i> Hourly</div>
                                <div><i class="fas fa-suitcase my-2  me-4"></i>{{details.type}}</div>
                                <div class=" mt-4  d-flex">
                                    <div class="symbol symbol-35px symbol-circle me-3">
                                            <img src="../../../assets/media/avatars/300-12.jpg" alt="">
                                    </div>
                                    <div>
                                        <span class="d-flex text-muted fs-8">Worker</span>
                                        <span class="fw-bold d-flex s-">Shirley Lopez</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>

        <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" [length]="jobDetails.length"
               (page)="onPageChange($event)">
        </mat-paginator>


    </div>


</div>