<div class="content flex-column-fluid auto container-lg mb-4">
  <div class="card mb-5 mb-xl-10 text-gray-600">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <h3 class="card-title fs-4">
          <a
            class="cursor-pointer"
            routerLink="/inbox/timesheets"
            *ngIf="auth?.vendorId"
          >
            <i class="fas fa-arrow-left me-3"></i>
            <span class="fs-8 fw-normal">Time Sheet ID</span>
          </a>
          <a
            class="cursor-pointer"
            routerLink="/hm/inbox/timesheets"
            *ngIf="!auth?.vendorId"
          >
            <i class="fas fa-arrow-left me-3"></i>
            <span class="fs-8 fw-normal">Time Sheet ID</span>
          </a>
          {{ timeSheetDetails?.timeSheetId }}
        </h3>
        <div>
          <a
            class="btn btn-bg-light text-primary btn-sm"
            id="kt_timesheet_logs_drawer_toggle"
          >
          <img src="../../../../assets/images/icons/jobpost-msg.svg" alt=""> Logs
          </a>
          <a
            class="btn btn-bg-light text-primary btn-sm ms-5 mr-5"
            id="kt_attachment_logs_drawer_toggle"
          >
          <img src="../../../../assets/images/icons/attachment.svg" alt="">  Attachments
          </a>
          <button
            type="button"
            class="btn btn-sm btn-primary mr-5 my-5"
            id="kt_inbox_approve_drawer_toggle"
            *ngIf="timeSheetDetails?.status === 'ACTIVE'"
          >
            Approve
          </button>

          <button
            type="button"
            class="btn btn-sm btn-primary"
            id="kt_inbox_reject_drawer_toggle"
            *ngIf="timeSheetDetails?.status === 'ACTIVE'"
          >
            Reject
          </button>
          <button
            type="button"
            class="btn btn-sm btn-primary mr-5"
            id="kt_inbox_approve_drawer_toggle"
            *ngIf="timeSheetDetails?.status === 'APPROVED_BY_VENDOR'"
          >
            Approve
          </button>

          <button
            type="button"
            class="btn btn-sm btn-primary"
            id="kt_inbox_reject_drawer_toggle"
            *ngIf="timeSheetDetails?.status === 'APPROVED_BY_VENDOR'"
          >
            Reject
          </button>
        </div>
      </div>
      <app-attachment-logs-drawer
        [timeSheetId]="timeSheetId"
      ></app-attachment-logs-drawer>
      <app-timesheet-logs-drawer
        [timeSheetId]="timeSheetId"
      ></app-timesheet-logs-drawer>
      <div class="d-flex flex-wrap flex-stack mt-7">
        <div class="d-flex flex-column flex-grow-1 pe-8">
          <div class="d-flex flex-wrap lign-items-center">
            <div class="me-5 my-1">
              <span class="d-flex text-muted fs-8">Work Order ID</span>
              <span class="fw-bold d-flex s-">
                <a class="cursor-pointer">
                  {{ timeSheetDetails?.workOrderId }}
                  <img class="ms-1 align-middle" src="../../../../assets/images/icons/table-arrow.svg" alt="">
                </a>
              </span>
            </div>
            <div class="vr me-5 mt-4 h-20px"></div>

            <div class="me-5 my-1 d-flex">
              <div class="symbol symbol-30px rounded-1 me-3">
                <span class="symbol-label fs-5 fw-bolder bg-light-warning fs-4"
                  >{{ timeSheetDetails?.workForceDetails?.firstName[0] }}
                  {{ timeSheetDetails?.workForceDetails?.lastName[0] }}
                </span>
              </div>
              <div>
                <span class="d-flex text-muted fs-8">Employee</span>
                <span class="fw-bold d-flex s-"
                  >{{ timeSheetDetails?.workForceDetails?.firstName }}
                  {{ timeSheetDetails?.workForceDetails?.lastName }}</span
                >
              </div>
            </div>
            <div class="vr me-5 mt-4 h-20px"></div>

            <div class="me-5 my-1">
              <span class="d-flex text-muted fs-8">Status</span>
              <span class="fw-bold d-flex s-"
                ><span
                  class="badge badge-primary"
                  [ngClass]="{
                    ' badge-light-warning':
                      timeSheetDetails?.displayStatus === 'In Process',
                    'badge-light-success':
                      timeSheetDetails?.displayStatus === 'Approved',
                    'badge-light-danger':
                      timeSheetDetails?.displayStatus === 'Rejected'
                  }"
                >
                  {{
                    timeSheetDetails?.displayStatus === "In Process"
                      ? "In-Process"
                      : timeSheetDetails?.displayStatus
                  }}</span
                >
              </span>
            </div>
            <div class="vr me-5 mt-4 h-20px"></div>
            <div class="me-5 my-1">
              <span class="d-flex text-muted fs-8">From Date</span>
              <span class="fw-bold d-flex s-"
                >{{ timeSheetDetails?.fromDate | date : "MMM dd, yyyy" }}
              </span>
            </div>
            <div class="vr me-5 mt-4 h-20px"></div>
            <div class="me-5 my-1">
              <span class="d-flex text-muted fs-8">To Date</span>
              <span class="fw-bold d-flex s-"
                >{{ timeSheetDetails?.toDate | date : "MMM dd, yyyy" }}
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="separator my-5"></div>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <div class="fw-bold mt-4">Details</div>
          <div class="mt-2 mb-7 text-muted block">
            The below are the tasks and its status updated for the mentioned
            timesheet period
          </div>
        </div>

        <div class="my-4 text-end">
          <i
            class="bi bi-clock-fill align-middle text-light-warning fs-4x me-3"
          ></i>
          <span class="text-muted me-3 fw-semibold">Total Time Spent</span>
          <span class="fs-2 fw-bold"> {{ totalTimeSpent.toFixed(1) }} hr</span>
        </div>
      </div>

      <ngb-accordion
        #acc="ngbAccordion"
        activeIds="ngb-panel-0"
        [closeOthers]="true"
        class="b-0"
      >
        <ngb-panel *ngFor="let d of taskListDetails; let number = index">
          <ng-template ngbPanelHeader let-opened="opened">
            <div
              class="d-flex custom-header align-items-center justify-content-between p-0 ps-7 py-1 pe-2"
              [class.collapsed]="!opened"
            >
              <div class="d-flex gap-3 align-items-center">
                <i class="bi bi-calendar fs-4"></i>
                <span class="fs-4 fw-bold">DAY {{ number + 1 }} </span>
                <span class="text-muted">{{ d.date }}</span>
              </div>
              <div>
                <span class="fw-bold">{{ d.timeSpent }} hr</span>
                <button
                  type="button"
                  ngbPanelToggle
                  class="btn btn-icon btn-active-color-primary btn-sm"
                  (click)="clickAccordion(d.date)"
                >
                  <i
                    class="bi fs-4 bi-chevron-down"
                    [class.bi-chevron-right]="!opened"
                  ></i>
                </button>
              </div>
              <!-- <div>
                            <button ngbPanelToggle class="btn btn-sm btn-outline-primary ms-2">Toggle second</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary ms-2" >
      uio
                            </button>
                            <button type="button" class="btn btn-sm btn-outline-danger ms-2">Collapse all</button>
                          </div> -->
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <div class="border">
              <table
                mat-table
                [dataSource]="dataSource[d.date]"
                class="table table-row-bordered text-gray-600"
              >
                <!-- taskId Column -->
                <ng-container matColumnDef="taskId">
                  <th mat-header-cell *matHeaderCellDef class="align-middle">
                    <i class="bi bi-hash"></i> Task Id
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let element"
                    class="align-middle"
                    routerLink="details"
                  >
                    {{ element.taskId }}
                  </td>
                </ng-container>

                <!-- title Column -->
                <ng-container matColumnDef="title">
                  <th mat-header-cell *matHeaderCellDef class="align-middle">
                    <img src="../../../../assets/images/icons/text.svg" alt="" class="align-text-bottom"> Task Name
                  </th>
                  <td mat-cell *matCellDef="let element" class="align-middle">
                    {{ element.title }}
                  </td>
                </ng-container>

                <!-- priority Column -->
                <ng-container matColumnDef="priority">
                  <th mat-header-cell *matHeaderCellDef class="align-middle">
                    <img src="../../../../assets/images/icons/tag.svg" alt="" class="align-middle">  Priority
                  </th>
                  <td mat-cell *matCellDef="let element" class="align-middle">
                    <span
                      class="badge badge-light-danger"
                      [ngClass]="{
                        ' badge-light-danger text-danger':
                          element.priority === 'High' ||
                          element.priority === 'Medium',
                        'badge-light-success text-success':
                          element.priority === 'Low'
                      }"
                    >
                      <i
                        class="fas fa-yin-yangfas fa-circle px-1 fs-10"
                        [ngClass]="{
                          'text-danger':
                            element.priority === 'High' ||
                            element.priority === 'Medium',
                          'text-success': element.priority === 'Low'
                        }"
                      ></i>

                      {{ element.priority }}</span
                    >
                  </td>
                </ng-container>

                <!-- timeSpent Column -->
                <ng-container matColumnDef="timeSpent">
                  <th mat-header-cell *matHeaderCellDef class="align-middle">
                    <img src="../../../../assets/images/icons/tclock.svg" alt="" class="align-text-bottom">  Time Spent
                  </th>
                  <td mat-cell *matCellDef="let element" class="align-middle">
                    {{ element.timeSpent }}
                  </td>
                </ng-container>
                <!-- eta Column -->
                <ng-container matColumnDef="startDate">
                  <th mat-header-cell *matHeaderCellDef class="align-middle">
                    <img src="../../../../assets/images/icons/tcal.svg" alt="" class="align-text-bottom">  Start Date
                  </th>
                  <td mat-cell *matCellDef="let element" class="align-middle">
                    {{ element?.startDate | date : "dd/MM/yyyy" }}
                  </td>
                </ng-container>

                <!-- lastUpdate Column -->
                <ng-container matColumnDef="finishDate">
                  <th mat-header-cell *matHeaderCellDef class="align-middle">
                    <img src="../../../../assets/images/icons/tcal.svg" alt="" class="align-text-bottom">  Due Date
                  </th>
                  <td mat-cell *matCellDef="let element" class="align-middle">
                    {{ element?.finishDate | date : "dd/MM/yyyy" }}
                  </td>
                </ng-container>

                <!-- status Column -->
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef class="align-middle">
                    <img src="../../../../assets/images/icons/status.svg" class="align-text-bottom" alt="">  Status
                  </th>
                  <td mat-cell *matCellDef="let element" class="align-middle">
                    <span
                      class="badge badge-light-primary"
                      [ngClass]="{
                        ' badge-light-warning':
                          element.status === 'IN_PROGRESS',
                        'badge-light-success':
                          element.status === 'APPROVED' ||
                          element.status === 'COMPLETED',
                        'badge-light-danger': element.status === 'REJECTED'
                      }"
                      >{{ element.displayStatus }}</span
                    >
                  </td>
                </ng-container>

                <!-- <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element; let i = index">
                    <div *ngIf="timeSheetDetails?.status === 'DRAFT'">
                      <span>
                        <i
                          class="bi bi-trash actions"
                          (click)="removeTaskFromTimeSheet(element, d.date, i)"
                        ></i>
                      </span>
                    </div>
                  </td>
                </ng-container> -->

                <tr
                  mat-header-row
                  *matHeaderRowDef="displayedColumns"
                  class="bg-light h-35px"
                ></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
              </table>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>

      <div class="d-flex text-sm-end gap-md-5 justify-content-end p-10">
        <button
          type="button"
          routerLink="/inbox/timesheets"
          class="btn btn-sm"
          *ngIf="auth?.vendorId"
        >
          Cancel
        </button>
        <button
          type="button"
          routerLink="/hm/inbox/timesheets"
          class="btn btn-sm"
          *ngIf="!auth?.vendorId"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
<div
  *ngIf="isLoading"
  class="pause d-flex align-items-center justify-content-center"
>
  <div class="spinner"></div>
</div>
<app-inbox-reject-drawer
  [timeSheetId]="timeSheetId"
  [status]="timeSheetDetails?.status"
></app-inbox-reject-drawer>
<app-inbox-approve-drawer
  [timeSheetId]="timeSheetId"
  [status]="timeSheetDetails?.status"
></app-inbox-approve-drawer>

<app-attachment-logs-drawer
  [timeSheetId]="timeSheetId"
></app-attachment-logs-drawer>
<app-timesheet-logs-drawer
  [timeSheetId]="timeSheetId"
></app-timesheet-logs-drawer>
