<div class="content flex-column-fluid auto container-lg mb-4">
    <!-- <div class="py-5 fw-bold">
        <a class="cursor-pointer " routerLink="/job-posts"> <i class="fas fa-arrow-left me-3"></i>
            Create Job Posting for Worker <span class="badge badge-light-success fw-normal ms-3"><i
                    class="fas fa-yin-yangfas fa-circle px-1 text-success  fs-10"></i> New Job</span></a>
    </div> -->
    <!--begin:: Top Card-->

    <div class="card mb-5 mb-xl-10 text-gray-600">
        <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">

                    <h3 class="card-title fs-4">
                        <a class="cursor-pointer " routerLink="/hm/inbox/work-orders"> <i class="fas fa-arrow-left me-3"></i> </a>
                        <span class="fs-7 fw-normal">Time Sheet ID</span> - 24164122
                    </h3>
        <div>
        
            <a  class=" btn btn-bg-light text-primary   btn-sm " id="kt_inbox_logs_drawer_toggle" >
              <img src="./assets/images/icons/btn-msg.svg" alt=""> Logs    </a>
                <app-inbox-logs-drawer></app-inbox-logs-drawer>
        
            <a  class=" btn btn-bg-light text-primary btn-sm me-5 " id="kt_inbox_attachment_logs_drawer_toggle">
              <img src="./assets/images/icons/btn-attach.svg" alt=""> Attachments     </a>
                 <app-inbox-attachment-logs-drawer></app-inbox-attachment-logs-drawer>
                 <div class="vr mx-5 h-25px align-middle"></div>
            <a  class=" btn btn-bg-lig/ht border text-primary btn-sm" id="kt_inbox_collaborate_drawer_drawer_toggle">
              <img src="./assets/images/icons/colla.svg" alt="">  Collaborate     </a>
                 <app-inbox-collaborate-drawer></app-inbox-collaborate-drawer>
        
            <a  class="btn btn-primary btn-sm cursor-pointer ms-5 " id="kt_inbox_reject_drawer_toggle">
                 <i class="bi fs-4 bi-slash-circle"></i> Reject     </a>
                 <app-inbox-reject-drawer></app-inbox-reject-drawer>
            <a  class=" btn btn-primary btn-sm cursor-pointer ms-5 " id="kt_inbox_approve_drawer_toggle">
                 <i class="bi fs-4 bi-check2-circle"></i> Approve     </a>
                 <app-inbox-approve-drawer></app-inbox-approve-drawer>
        </div>
        
        
                </div>









                 <!-- <app-attachment-logs-drawer></app-attachment-logs-drawer>
                 <app-timesheet-logs-drawer></app-timesheet-logs-drawer> -->
<div class="d-flex flex-wrap flex-stack mt-7 ">
    <div class="d-flex flex-column flex-grow-1 pe-8">
      <div class="d-flex flex-wrap lign-items-center">
        <div class=" me-5 my-1">
          <span class="d-flex text-muted fs-8">Work Order ID</span>
          <span class="fw-bold d-flex s-">
            <a class="cursor-pointer text-primary fw-semibold"> 2786111763  <img class="ms-1 align-middle" src="./assets/images/icons/table-arrow.svg" alt="">         </a>
            </span>
        </div>
        <div class="vr me-5 mt-4 h-20px "></div>

        <div class=" me-5 my-1 d-flex">
          <div class="symbol symbol-30px rounded-1 me-3">
            <span class="symbol-label fs-5 fw-bolder bg-light-warning fs-4">DR </span>
          </div>
          <div>
            <span class="d-flex text-muted fs-8">Employee</span>
            <span class="fw-bold d-flex s-">Dianne Russell</span>
          </div>
        </div>
            <div class="vr me-5 mt-4 h-20px "></div>
      
        <div class=" me-5 my-1">
          <span class="d-flex text-muted fs-8">Status</span>
          <span class="fw-bold d-flex s-"><span class="badge badge-light-warning">
              In-Progress</span> </span>
        </div>
        <div class="vr me-5 mt-4 h-20px "></div>
        <div class=" me-5 my-1">
          <span class="d-flex text-muted fs-8">From Date</span>
          <span class="fw-bold d-flex s-">Jun 12, 2023 </span>
        </div>
        <div class="vr me-5 mt-4 h-20px "></div>
        <div class=" me-5 my-1">
          <span class="d-flex text-muted fs-8">To Date</span>
          <span class="fw-bold d-flex s-">Jun 12, 2023 </span>
        </div>

      </div>
    </div>
  </div>


            <div class="separator my-5"></div>
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <div class="fw-bold   mt-4">  Details</div>
                    <div class="mt-2 mb-7 text-muted block"> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Nam quod architecto saepe necessitatibus dolore.
                    </div>
                </div>
             

                <div class=" my-4 text-end">
                    <i class="bi bi-clock-fill align-middle  text-light-warning fs-4x me-3"></i>
                    <span class="text-muted me-3 fw-semibold">Total Time Spent</span> <span class="fs-2 fw-bold "> 63.0 hr</span>
                  </div>
            </div>

            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" [closeOthers]="true" class="b-0">
                <ngb-panel *ngFor="let number of [0,1,2,3,4,5,6]">
                    <ng-template ngbPanelHeader  let-opened="opened">
                        <div class="d-flex custom-header align-items-center justify-content-between p-0 ps-7 py-1 pe-2" [class.collapsed]="!opened" >
                          <div class="d-flex gap-3 align-items-center">
                            <i class="bi bi-calendar fs-4"></i>
                            <span class="fs-4 fw-bold">DAY {{number +1}} </span> <span class="text-muted">24/5/2023</span>
                          </div>
                          <div>
                            <span class="fw-bold">9 hr</span>
                            <button type="button"
                             ngbPanelToggle class="btn btn-icon   btn-active-color-primary btn-sm " >
                             <i class="bi fs-4 bi-chevron-down" [class.bi-chevron-right]="!opened"></i>

                                                    
                            </button>
                          </div>
                          <!-- <div>
                            <button ngbPanelToggle class="btn btn-sm btn-outline-primary ms-2">Toggle second</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary ms-2" >
      uio
                            </button>
                            <button type="button" class="btn btn-sm btn-outline-danger ms-2">Collapse all</button>
                          </div> -->
                        </div>
                      </ng-template>
                  <ng-template ngbPanelContent>
                  <div class="border">
                    <table mat-table [dataSource]="dataSource" class="table table-row-bordered text-gray-600 qfs-13 ">

                        <!-- taskId Column -->
                        <ng-container matColumnDef="taskId">
                          <th mat-header-cell *matHeaderCellDef class="align-middle"><i class="bi bi-hash"></i> Task Id </th>
                          <td mat-cell *matCellDef="let element" class="align-middle" routerLink="details"> {{element.taskId}} </td>
                        </ng-container>
            
                        <!-- taskName Column -->
                        <ng-container matColumnDef="taskName">
                          <th mat-header-cell *matHeaderCellDef class="align-middle"><img src="./assets/images/icons/text.svg" alt="" class="align-text-bottom me-1 "> Task
                            Name </th>
                          <td mat-cell *matCellDef="let element" class="align-middle"> {{element.taskName}} </td>
                        </ng-container>
            
            
                        <!-- priority Column -->
                        <ng-container matColumnDef="priority">
                          <th mat-header-cell *matHeaderCellDef class="align-middle"><img  src="./assets/images/icons/tag.svg" alt="" class="align-middle me-1 "> Priority </th>
                          <td mat-cell *matCellDef="let element" class="align-middle">
                            <span class="badge badge-light-danger" [ngClass]="{' badge-light-danger text-danger': (element.priority === 'High' || element.priority === 'Medium'),
                               'badge-light-success text-success' : element.priority === 'Low'  }">
                              <i class="fas fa-yin-yangfas fa-circle px-1 fs-10" [ngClass]="{'text-danger': (element.priority === 'High' || element.priority === 'Medium'),
                               'text-success' : element.priority === 'Low'  }"></i>
            
                              {{element.priority}}</span>
            
                          </td>
                        </ng-container>
                        
                        <!-- timeSpent Column -->
                        <ng-container matColumnDef="timeSpent">
                          <th mat-header-cell *matHeaderCellDef class="align-middle"><img src="./assets/images/icons/tclock.svg" alt="" class="align-text-bottom me-1 "> Time Spent </th>
                          <td mat-cell *matCellDef="let element" class="align-middle"> {{element.timeSpent}} </td>
                        </ng-container>
            
                        <!-- eta Column -->
                        <ng-container matColumnDef="eta">
                          <th mat-header-cell *matHeaderCellDef class="align-middle"><img src="./assets/images/icons/tcal.svg" alt="" class="align-text-bottom me-1 ">  Start Date </th>
                          <td mat-cell *matCellDef="let element" class="align-middle"> {{element.eta}} </td>
                        </ng-container>
            
                        <!-- lastUpdate Column -->
                        <ng-container matColumnDef="lastUpdate">
                          <th mat-header-cell *matHeaderCellDef class="align-middle"><img src="./assets/images/icons/tcal.svg" alt="" class="align-text-bottom me-1 ">  Due Date
                          </th>
                          <td mat-cell *matCellDef="let element" class="align-middle"> {{element.lastUpdate}} </td>
                        </ng-container>
            
                        <!-- status Column -->
                        <ng-container matColumnDef="status">
                          <th mat-header-cell *matHeaderCellDef class="align-middle"><img src="./assets/images/icons/status.svg" class="align-text-bottom me-1 " alt="">  Status </th>
                          <td mat-cell *matCellDef="let element" class="align-middle">
                            <span class="fw-semibold"
                              [ngClass]="{' text-warning': element.status === 'In-progress', 
                              'text-success' : element.status === 'Approved' , 
                              'text-danger' : element.status === 'Rejected' }">{{element.status}}</span>
                          </td>
                        </ng-container>
            
            
                        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="bg-light h-35px"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                        </tr>
                      </table>
                  </div>
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>














        </div>
    </div>
    </div>


