<div *ngIf="isLoading" class="pause d-flex align-items-center justify-content-center">
  <div class="spinner"></div>
</div>
<div
  id="kt_send_offer_letter_drawer"
  class="bg-body"
  data-kt-drawer="true"
  data-kt-drawer-name="send_offer_letter_drawer"
  data-kt-drawer-activate="true"
  data-kt-drawer-overlay="true"
  data-kt-drawer-width="{default:'300px', 'lg': '700px'}"
  data-kt-drawer-direction="end"
  data-kt-drawer-toggle="#kt_send_offer_letter_drawer_toggle"
  data-kt-drawer-close="#kt_send_offer_letter_close"
>
  <div class="card shadow-none rounded-0 w-100">
    <button
      type="button"
      class="btn btn-sm btn-icon btn-light-primary border pspdrawerclose"
      id="kt_send_offer_letter_close"
    >
      <span
        [inlineSVG]="'./assets/media/icons/duotune/arrows/arr061.svg'"
        class="svg-icon svg-icon-1"
      ></span>
    </button>
    <div class="card-body position-relative "  id="kt_activities_body">
      <div class="mb-6">
        <div  class="text-gray-800 fs-5 fw-bold">Offer Letter</div>
        <form [formGroup]="jobPostData">
        <div class="bg-nego text-gray-800 p-5 rounded-3 my-5">
          <div  class="text-gray-800 mb-5 fs-7 fw-bold">NEGOTATION</div>
          <div class="form-group row mb-3 d-flex align-items-center">
            <label class="col-4">Preferred {{jobDetails?.jobKind == 'Fixed' ? 'Budget' : 'Work Rate'}}</label>
            <!-- <div class="col-8 fw-bold"> {{jobDetails?.jobKind == 'Fixed' ? jobDetails?.minBudget + '~ ' + jobDetails?.maxBudget : jobDetails?.rate}} </div> -->
             <!-- <label class="col-4">Preferred Work Rate</label> -->
            <div class="col-8 fw-bold"> {{jobSeeker?.workRate}} {{jobSeeker?.workRateCurrency}}</div>
        </div>

        <div class="form-group row   d-flex align-items-center">
          <label class="col-4">Revised {{jobDetails?.jobKind == 'Fixed' ? 'Budget' : 'Work Rate'}}<span class="text-danger">*</span></label>
          <!-- <label class="col-4">Revised Work Rate<span class="text-danger">*</span></label> -->
          <div class="col-8 d-flex align-items-center">
            <input type="input" id="revisedWorkRate" formControlName="workRate" (keypress)="numbersOnly($event)"  class="form-control w-150px py-2 fs- fw-normal" 
              placeholder="Enter Amount" value="{{jobSeeker?.workRate}}">
              <span class="text-muted ps-2">{{this.jobDetails?.currency}}</span>  
            <!-- <mat-select class="form-select fs- py-2 w-100px" placeholder="Select">
              <mat-option value="USD">USD</mat-option>
              <mat-option value="INR">INR</mat-option>
            </mat-select> -->
            <span class="text-muted ps-2" *ngIf="jobDetails?.jobKind != 'Fixed'">Per Hour</span>
          </div>
        </div>
      </div>

      
      <div class="form-group  mb-5">
        <label class="mb-1">Description <span class="text-danger">*</span></label>
        <ckeditor [editor]="editor" formControlName="offerMsg" [data]="data" class="form-control p-0 fs- fw-normal"  
          [config]="{ placeholder:'Provide description here...'}"></ckeditor>
      </div>

      
        <div class="fw-bold mb-5 ">Attachment <span class="text-danger">*</span></div>
          <!--begin::Dropzone-->
          <div class="dropzone dz-clickable bg-light-primary border border-dashed text-center mb-2"
            DropZone (onFileDropped)="droppedFiles($event)" (click)="fileInput.click()">
              <!--begin::Message-->
              <div class=" text-center w-100 text-muted">
                  <!--begin::Icon-->
                  <i class="fas fa-cloud-upload-alt  fs-2x"></i> <!--end::Icon-->
                  <!--begin::Info-->
                  <div class="ms-4">
                      <input type="file" hidden #fileInput (change)="selectFile($event, 'offerLetter')" 
                          accept=".pdf,.doc,.docx,.xls,.xlsx" (click)="clearFileInput($event)">
                      <h3 class="fs-7 mb-1"> <a class=" text-primary ">Click to upload </a> or Drop file
                          here.</h3>
                      <span class="fs-9 fw-semibold text-gray-400">.pdf, .doc, .docx, .xls, .xlsx (size  less than 2mb)</span>
                  </div>
                  <!--end::Info-->
              </div>
          </div>
          <a *ngIf="jobPostData.controls['offerLetter']?.value" 
          class=" border rounded-1 py-1 px-3 text-active-primary d-flex justify-content-between w-auto">
          <div class="text-truncate pspmw95" [ngbTooltip]="jobPostData.controls['offerLetter'].value.name" [openDelay]="600">
              {{jobPostData.controls['offerLetter'].value.name}}
          </div>
              <span class="cursor-pointer ms-3 ">
              <i class="bi bi-x-circle" (click)="clearFile('offerLetter')"></i></span>
          </a>
          <!--end::Dropzone-->
        </form>
      </div>
  </div>

  <div class="card-footer py-5 d-flex text-sm-end gap-md-5 justify-content-end p-10" id="kt_send_offer_letter_footer">
    <button type="reset" class="btn  btn-sm btn-outline" #cancel id="kt_send_offer_letter_close">Cancel</button>
    <button type="reset" class="btn  btn-sm btn-primary w-100px" (click)="sendOfferLetter()">Send</button>
  </div>
</div>
