<div class="content flex-column-fluid auto container-lg mb-4">
  <form [formGroup]="invoiceData">
    <div class="card mb-5 mb-xl-10 text-gray-600">
      <div class="card-body">
        <h3 class="card-title fs-4">
          <a class="cursor-pointer" routerLink="/invoices">
            <i class="fas fa-arrow-left me-2 text-body fs-6 align-middle"></i
          ></a>
          Invoice Creation
          <!-- (Click here to see invoice submission screen for hour
          based work order type) -->
        </h3>
        <!-- <div class="mt-2 mb-7 text-muted block">
                    An invoice is a formal document provided by a seller to a buyer, itemizing the products or services rendered, along with the corresponding costs, payment terms, and other relevant details for the purpose of requesting payment.
                </div> -->
        <div class="d-flex justify-content-between mt-6">
          <div class="pspw60">
            <div class="form-group row mb-5 d-flex align-items-center">
              <label class="col-4"
                >Work Order <span class="text-danger">*</span></label
              >
              <div class="col-8">
                <mat-select
                  class="form-select fs- py-2"
                  placeholder="Select"
                  formControlName="workOrderId"
                  (selectionChange)="changeWorkOrder($event.value)"
                >
                  <mat-option
                    *ngFor="let list of workOrderList"
                    [value]="list.workOrderId"
                  >
                    {{ list.title }}
                  </mat-option>
                </mat-select>
                <div
                  class="fv-plugins-message-container"
                  *ngIf="submitted && f.workOrderId.errors"
                >
                  <div
                    class="fv-help-block"
                    *ngIf="f.workOrderId.errors.required"
                  >
                    Work Order is required
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row mb-5 d-flex align-items-center">
              <label class="col-4">Payment Terms </label>
              <div class="col-8">
                <input
                  type="text"
                  class="form-control py-2 fs- fw-normal"
                  formControlName="paymentTerms"
                />
                <div
                  class="fv-plugins-message-container"
                  *ngIf="submitted && f.paymentTerms.errors"
                >
                  <div
                    class="fv-help-block"
                    *ngIf="f.paymentTerms.errors.required"
                  >
                    Payment Term is required
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row mb-5 d-flex align-items-center">
              <label class="col-4"
                >Invoice Number <span class="text-danger">*</span></label
              >
              <div class="col-8">
                <input
                  type="text"
                  class="form-control py-2 fs- fw-normal"
                  formControlName="invoiceNumber"
                />
                <div
                  class="fv-plugins-message-container"
                  *ngIf="submitted && f.invoiceNumber.errors"
                >
                  <div
                    class="fv-help-block"
                    *ngIf="f.invoiceNumber.errors.required"
                  >
                    Invoice Number is required
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row mb-5 d-flex align-items-center">
              <label class="col-4"
                >Invoice Date <span class="text-danger">*</span></label
              >
              <div class="col-8 d-flex align-items-center gap-2">
                <div
                  class="input-icon position-relative w-100 input-icon-right"
                >
                  <input
                    type="text"
                    class="form-control py-2 fs- fw-normal"
                    (click)="picker.open()"
                    [matDatepicker]="picker"
                    placeholder=" "
                    formControlName="invoiceDate"
                  />
                  <div
                    class="fv-plugins-message-container"
                    *ngIf="submitted && f.date.errors"
                  >
                    <div class="fv-help-block" *ngIf="f.date.errors.required">
                      Invoice Date is required
                    </div>
                  </div>
                  <span><i class="far fa-calendar"></i></span>
                  <mat-datepicker #picker></mat-datepicker>
                </div>
              </div>
            </div>

            <div class="form-group row d-flex align-items-center">
              <label class="col-4"
                >Invoice Amount <span class="text-danger">*</span></label
              >
              <div class="col-8 d-flex align-items-center">
                <input
                  type="input"
                  class="form-control w-150px py-2 rounded-end-0 fw-normal"
                  placeholder="Number"
                  formControlName="totalAmount"
                  readonly
                />

                <mat-select
                  class="form-select fs- py-2 w-100px rounded-start-0"
                  formControlName="currency"
                  placeholder="Select"
                  [disabled]="true"
                >
                  <mat-option value="">Currency</mat-option>
                  <mat-option value="USD">USD</mat-option>
                  <mat-option value="INR">INR</mat-option>
                </mat-select>
                <span class="text-muted ps-2">Per Hour</span>
              </div>
            </div>
          </div>
          <div class="text-end">
            <div>
              <img src="../../../../assets/images/hg-logo-light.svg" alt="" />
            </div>
            <div class="text-gray-400 my-2 mb-15 fw-bold">INVOICES</div>
            <div>
              <img src="../../../../assets/images/invoice-icon.svg" alt="" />
            </div>
            <div class="align-middle">
              <span class="text-muted me-3 fw-semibold">Payable Amount</span>
              <span class="fs-1 fw-semibold text-body"
                >{{ invoiceData.controls["totalAmount"].value }}
                {{ invoiceData.controls["currency"].value }}</span
              >
            </div>
          </div>
        </div>
        <!-- <app-attachment-logs-drawer></app-attachment-logs-drawer> -->
        <!-- <app-timesheet-logs-drawer></app-timesheet-logs-drawer> -->

        <div class="separator separator-dashed my-5"></div>
        <div class="d-flex align-items-center justify-content-between mb-4">
          <div class="text-body">
            BILL FROM <br />
            <p class="fw-bold fs-4 my-2">
              {{ selectedWorkOrder?.vendorDetails?.title }}
            </p>
            {{ selectedWorkOrder?.vendorDetails?.address }}
          </div>
          <div class="text-body">
            BILL TO <br />
            <p class="fw-bold fs-4 my-2">
              {{ selectedWorkOrder?.companyDetails?.title }}
            </p>
            {{ selectedWorkOrder?.companyDetails?.address }}
          </div>
          <div
            class="mw-175px mh-45px border mt-3 d-flex align-items-center justify-content-center min-h-35px min-w-40px overflow-hidden"
          >
            <img
              src="../../../../assets/images/smartdocs.jpeg"
              class="mw-100 mh-100"
            />
          </div>
        </div>

        <div class="my-7 text-body fw-semibold">INVOICE ITEMS</div>
        <div class="table-responsive border w-100 mb-5 mt-8">
          <!--begin::Table-->
          <table
            mat-table
            [dataSource]="dataSource"
            class="table table-row-bordered text-gray-600 taskTable"
          >
            <!-- timeSheetId Column -->
            <ng-container matColumnDef="timeSheetId">
              <th mat-header-cell *matHeaderCellDef class="align-middle">
                <i class="bi"></i> Item Name
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                class="align-middle"
                routerLink="details"
              >
                {{ element.timeSheetId }}
              </td>
            </ng-container>

            <!-- Quantity Column -->
            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef class="align-middle">
                <i class="bi"></i> Quantity
              </th>
              <td mat-cell *matCellDef="let element" class="align-middle">
                {{ element.timeSpent }}.0 Hr
              </td>
            </ng-container>

            <!-- Unit Price Column -->
            <ng-container matColumnDef="unitPrice">
              <th mat-header-cell *matHeaderCellDef class="align-middle">
                <i class="bi"></i> Unit Price
              </th>
              <td mat-cell *matCellDef="let element" class="align-middle">
                {{ element.unitPrice }}
                {{ invoiceData.controls["currency"].value }}
              </td>
            </ng-container>

            <!-- Unit Price Column -->
            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef class="align-middle">
                <i class="bi"></i> Amount
              </th>
              <td mat-cell *matCellDef="let element" class="align-middle">
                {{ element.amount }}
                {{ invoiceData.controls["currency"].value }}
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="displayedColumns"
              class="bg-light h-35px"
            ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <!--end::Table-->
        </div>

        <button
          type="button"
          class="btn btn-primary btn-sm my-5"
          id="kt_invoice_add_timesheet_drawer_toggle"
          [disabled]="!invoiceData.controls['workOrderId'].value"
        >
          <i class="bi bi-plus-lg"></i> Add Timesheet
        </button>

        <div class="d-flex justify-content-end">
          <div class="mw-300px">
            <div class="d-flex flex-stack mb-3 fs-7">
              <div class="fw-semibold pe-10 text-gray-600">SUB TOTAL</div>
              <div class="text-end fw-bo/ld text-gray-800">
                {{ invoiceData.controls["subTotalAmount"].value }}
                {{ invoiceData.controls["currency"].value }}
              </div>
            </div>
            <div class="d-flex flex-stack mb-3 fs-7">
              <div class="fw-semibold pe-10 text-gray-600">TAX AMOUNT (%)</div>
              <div class="text-end fw-/bold text-gray-800">
                <input
                  type="number"
                  class="form-control w-100px text-right"
                  formControlName="taxPercentage"
                  min="0"
                  max="100"
                  (input)="onTaxChange()"
                />
              </div>
            </div>
            <div
              class="fv-plugins-message-container"
              *ngIf="f.taxPercentage.errors"
            >
              <div class="fv-help-block" *ngIf="f.taxPercentage.errors.max">
                Please enter a value between 0 and 100
              </div>
              <div class="fv-help-block" *ngIf="f.taxPercentage.errors.min">
                Please enter a value between 0 and 100
              </div>
            </div>
            <div class="d-flex flex-stack mb-3 fs-6">
              <div class="fw-semibold pe-10 text-gray-600">TOTAL AMOUNT</div>
              <div class="text-end fw-bold text-gray-800">
                {{ invoiceData.controls["totalAmount"].value }}
                {{ invoiceData.controls["currency"].value }}
              </div>
            </div>
          </div>
        </div>

        <div class="separator separator-dashed my-7"></div>

        <div class="fw-bold mb-5">Comments</div>

        <div class="form-group mb-7">
          <textarea
            name=""
            id=""
            cols="30"
            rows="4"
            class="form-control py-2 px-3 fs- fw-normal"
            placeholder="Your Comments"
            formControlName="comments"
          ></textarea>
        </div>

        <div class="fw-bold mb-2">Attachments</div>

        <div class="fv-row mb-5">
          <!--begin::Dropzone-->
          <div
            class="dropzone dz-clickable bg-light-primary border border-dashed text-center"
            DropZone
            (onFileDropped)="droppedFiles($event, 'documentList')"
            (click)="fileInputOther.click()"
          >
            <!--begin::Message-->
            <div class="text-center w-100 text-muted">
              <!--begin::Icon-->
              <i class="fas fa-cloud-upload-alt fs-2x"></i>
              <!--end::Icon-->
              <!--begin::Info-->
              <div class="ms-4">
                <input
                  type="file"
                  hidden
                  #fileInputOther
                  (change)="selectFile($event, 'documentList')"
                  accept=".pdf,.doc,.docx,.xls,.xlsx"
                />
                <h3 class="fs-5 mb-1">
                  <a class="text-primary">Click to upload </a> or Drop files
                  here.
                </h3>
                <span class="fs-7 fw-semibold text-gray-400"
                  >.pdf, .doc, .docx, .xls, .xlsx (size less than 2mb); maximum
                  6 files</span
                >
              </div>
              <!--end::Info-->
            </div>
          </div>
          <div
            *ngIf="invoiceData.controls['documentList'].value"
            class="d-flex flex-wrap"
          >
            <a
              *ngFor="
                let doc of invoiceData.controls['documentList'].value;
                let index = index
              "
              class="me-3 mt-4 border rounded-1 py-1 px-3 text-active-primary d-flex justify-content-between mw-325px"
            >
              <div
                class="text-truncate pspmw95"
                [ngbTooltip]="doc.name"
                [openDelay]="600"
              >
                {{ doc.name }}
              </div>
              <span class="cursor-pointer ms-3">
                <i
                  class="bi bi-x-circle"
                  (click)="clearFile('documentList', index)"
                ></i
              ></span>
            </a>
          </div>

          <!--end::Dropzone-->
        </div>

        <app-invoice-add-timesheet-drawer
          [workOrderId]="workOrderId"
          [selectedTask]="selectedTask"
          (getSelectedTimesheetList)="getSelectedTimesheetList($event)"
        ></app-invoice-add-timesheet-drawer>
      </div>
      <div class="d-flex text-sm-end gap-md-5 justify-content-end p-10">
        <button type="button" class="btn btn-sm" routerLink="/invoice">
          Cancel
        </button>

        <button
          type="button"
          class="btn btn-sm btn-primary"
          [disabled]="!selectedTask.length"
          (click)="save()"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
