<div *ngIf="isLoading" class="pause d-flex align-items-center justify-content-center">
    <div class="spinner"></div>
</div>
<form [formGroup]="workOrderData">
<div class="content flex-column-fluid auto container-lg mb-4">
    <!-- <div class="py-5 fw-bold">
        <a class="cursor-pointer " routerLink="/job-posts"> <i class="fas fa-arrow-left me-3"></i>
            Create Job Posting for Worker <span class="badge badge-light-success fw-normal ms-3"><i
                    class="fas fa-yin-yangfas fa-circle px-1 text-success  fs-10"></i> New Job</span></a>
    </div> -->
    <!--begin:: Top Card-->

    <div class="card mb-5 mb-xl-10 text-gray-600">
        <div class="card-body">
            <h3 class="card-title fs-4">
                <a class="cursor-pointer " routerLink="/hm/work-order"> <i class="fas fa-arrow-left me-2 text-body fs-6 align-middle"></i> </a>
                Work Order Creation
            </h3>
            <span class="text-muted">
                Work orders are detailed instruction or request that outline specific task repairs or service to be
                performed in a structured or organized manner.
            </span>
            <!-- Tabs Start:: -->
            <div class="d-flex overflow-auto border-bottom my-7">
                <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5  flex-nowrap">
                    <li class="nav-item"><a class="nav-link cursor-pointer text-active-primary me-6 active"
                            (click)="getSelectedTab('Details')" [ngClass]="{'active': isSelectedTab=='Details'}">
                            Details </a></li>

                    <li class="nav-item"><a class="nav-link cursor-pointer text-active-primary me-6"
                            >Task
                        </a></li>

                </ul>
            </div>
            <!-- Tabs End:: -->
            <ng-container *ngIf="isSelectedTab=='Details'">
                <div class="fw-bold mb-5 mt-9">Basic Details</div>

                <div class="form-group pspw60 mb-5">
                    <label class="mb-1">Work Order Title <span class="text-danger">*</span></label>
                    <input type="input" formControlName="title" class="form-control py-2 fs- fw-normal" placeholder="Some Job Post Title">
                </div>
                <div class="form-group  mb-5">
                    <label class="mb-1">Work Order Description <span class="text-danger">*</span></label>
                    <!-- <input type="input" class="form-control py-2 fs- fw-normal" placeholder="Enter email"> -->

                    <ckeditor [editor]="editor" formControlName="description" [data]="data" (ready)="onReady($event)"
                        class="form-control p-0 fs- fw-normal"
                        [config]="{ placeholder:'Provide work order description here...'}"></ckeditor>

                    <!-- <textarea name="" id="" cols="30" rows="7" class="form-control py-2 fs- fw-normal" placeholder="Provide work order description here..."></textarea> -->
                    <!-- <ckeditor data="<p>Hello, world!</p>" ty></ckeditor> -->

                </div>

                <div class="pspw60 ">
                    <div class="form-group row mb-5 d-flex align-items-center">
                        <label class="col-4"> Manager <span class="text-danger">*</span></label>
                        <div class="col-8">
                            <!-- <select name="" id="" class="form-select fs- py-2">
                                <option value="">Select</option>
                            </select> -->
                            <mat-select class="form-select fs- py-2" formControlName="hiringManager" placeholder="Select">
                                <mat-option *ngFor="let hm of hiringManager" [value]="hm.userId">
                                    {{hm.firstName}} {{hm.lastName}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div class="form-group row mb-5 d-flex align-items-center">
                        <label class="col-4"> Work Order Type <span class="text-danger">*</span></label>
                        <div class="col-8">
                            <mat-select formControlName="type" placeholder="Select" class="form-select fs- py-2">
                                <mat-option *ngFor="let type of jobTypes" [value]="type.id">
                                    {{type.name}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>

                    <div class="form-group row mb-5 d-flex align-items-center">
                        <label class="col-4">What kind of Work order it is? <span class="text-danger">*</span></label>
                        <div class="col-8">
                            <div class="radio-inline">
                                <label class="radio radio-outline radio-outline-2x radio-primary me-5">
                                    <input formControlName="kind" type="radio" value="Fixed" (click)="workOrderKind='Fixed'; changeRateValue()">
                                    <span></span>
                                    Fixed
                                </label>
                                <label class="radio radio-outline radio-outline-2x radio-primary">
                                    <input formControlName="kind" type="radio" value="Hourly" (click)="workOrderKind='Hourly'; changeRateValue()">
                                    <span></span>
                                    Hour based
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-5 d-flex align-items-center">
                        <label class="col-4">{{workOrderKind == 'Fixed' ? 'Budget' : 'Working Rate'}} <span class="text-danger">*</span></label>
                        <div class="col-8 d-flex align-items-center">
                      
                            <input *ngIf="workOrderKind == 'Hourly'" type="input" formControlName="workRate" class="form-control w-150px py-2 rounded-end-0 fw-normal" 
                            placeholder="Enter Amount" (keypress)="numbersAndDecimalOnly($event)">
                            
                            <ng-container *ngIf="workOrderKind == 'Fixed'">
                                <input type="input" formControlName="minBudget" class="form-control w-150px py-2 rounded-end-0 fw-normal" 
                            placeholder="Enter Amount" (keypress)="numbersAndDecimalOnly($event)">
                            <!-- <span> ~ </span>
                            <input type="input" formControlName="maxBudget" class="form-control w-150px py-2 rounded-end-0 fw-normal" 
                            placeholder="Number" (keypress)="numbersOnly($event)"> -->
                            </ng-container>
    
                            <mat-select class="form-select fs- py-2 w-100px rounded-start-0" formControlName="workRateCurrency" placeholder="Select">
                                <mat-option *ngFor="let currency of currencies" [value]="currency">
                                    {{currency}}
                                </mat-option>
                            </mat-select>
                            <span *ngIf="workOrderKind == 'Hourly'" class="text-muted ps-2">Per Hour</span>
                        </div>
                    </div>

                    <div class="form-group row mb-5 d-flex align-items-center">
                        <label class="col-4">Priority</label>
                        <div class="col-8">
                            <mat-select formControlName="priority" class="form-select fs- py-2" placeholder="Select">
                                <mat-option value="Low">Low</mat-option>
                                <mat-option value="Medium">Medium</mat-option>
                                <mat-option value="High">High</mat-option>
                            </mat-select>
                        </div>
                    </div>

                    <div class="form-group row mb-5 d-flex align-items-center">
                        <label class="col-4">Vendor <span class="text-danger">*</span></label>
                        <div class="col-8">
                            <mat-select formControlName="vendor" placeholder="Select" class="form-select fs- py-2">
                                <mat-option *ngFor="let vendor of vendorList" [value]="vendor?.vendorId">
                                    {{vendor?.vendorId}} - {{vendor?.registerId}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>

                    <div class="form-group row mb-5 d-flex align-items-center">
                        <label class="col-4">Job Posting</label>
                        <div class="col-8">
                            <mat-select formControlName="jobPostId" placeholder="Select" class="form-select fs- py-2" (selectionChange)="getJobDetails($event.value)">
                                <mat-option *ngFor="let list of jobLists" [value]="list.id">
                                    {{list.id}} - {{list.title}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>

                    <div class="form-group d-flex align-items-center row mb-5">
                        <label class="col-4">Start Date <span class="text-danger">*</span></label>
                        <div class="col-8 d-flex align-items-center">
                            <div class="input-icon position-relative min-w-150px input-icon-right">

                                <input formControlName="startDate" type="text" class="form-control cursor-pointer  py-2 fs- fw-normal" (click)="picker.open()"
                                    [matDatepicker]="picker" placeholder="Start Date" [max]="workOrderData.controls['endDate'].value" readonly>
                                <span class="cursor-pointer" (click)="picker.open()"><i class="far fa-calendar"></i></span>
                                <mat-datepicker #picker></mat-datepicker>
                            </div>

                            <label class="mb-1 ps-6 pe-4 min-w-100px ">End Date <span
                                    class="text-danger">*</span></label>
                                    <div class="input-icon position-relative min-w-150px input-icon-right">

                                        <input formControlName="endDate" type="text" class="form-control cursor-pointer  py-2 fs- fw-normal" (click)="picker1.open()"
                                            [matDatepicker]="picker1" placeholder="End Date" [min]="workOrderData.controls['startDate'].value" readonly>
                                        <span class="cursor-pointer" (click)="picker1.open()"><i class="far fa-calendar"></i></span>
                                        <mat-datepicker #picker1></mat-datepicker>
                                    </div>
                        </div>
                    </div>


                    <div class="fw-bold mb-5 mt-9">WORK POLCY & ACCOUNTING DETAILS</div>


                    <div class="form-group row mb-5 d-flex align-items-center">
                        <label class="col-4">Timesheet Frequency <span class="text-danger">*</span></label>
                        <div class="col-8">
                            <mat-select formControlName="timesheetFreq" class="form-select fs- py-2" placeholder="Select">
                                <mat-option *ngFor="let freq of timesheetFrequency" [value]="freq.freqCode">
                                    {{freq.title}} ({{freq.freqCode}})
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>

                    <div class="form-group row mb-5 d-flex align-items-center">
                        <label class="col-4 d-flex align-items-center">Work hours per <span class="text-danger">*</span>
                            <mat-select formControlName="workHourInterval" class="form-select fs-7 h-30px  py-2 w-90px ms-2" placeholder="Select">
                                <mat-option value="Daily">
                                    Daily
                                </mat-option>
                                <mat-option value="Weekly">
                                    Weekly
                                </mat-option>
                                <mat-option value="Monthly">
                                    Monthly
                                </mat-option>
                            </mat-select>
                        </label>
                        <div class="col-8 d-flex gap-sm-2">
                            <a class="btn btn-sm btn-icon border cursor-pointer btn-active-color-primary">
                                <i class="bi bi-slash-circle minus-icon" (click)="changeInputValue('-')"></i>

                            </a>
                            <input formControlName="workHours" (keypress)="numbersOnly($event)" type="input" class="form-control w-70px py-2 fs- fw-normal" placeholder="Number"
                                value="8">
                            <a class="btn btn-sm btn-icon border cursor-pointer btn-active-color-primary">
                                <i class="bi bi-plus-circle" (click)="changeInputValue('+')"></i>
                            </a>
                        </div>
                    </div>

                    <div class="form-group row mb-5 d-flex align-items-center">
                        <label class="col-4">Cost Center <span class="text-danger">*</span></label>
                        <div class="col-8">
                            <mat-select formControlName="costCenter" class="form-select fs- py-2" placeholder="Select">
                                <mat-option *ngFor="let costCenter of costCenterList" [value]="costCenter.code">
                                    {{costCenter.name}} ({{costCenter.code}})
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>

                    <div class="form-group row mb-5 d-flex align-items-center">
                        <label class="col-4">Payment Terms <span class="text-danger">*</span></label>
                        <div class="col-8">
                            <mat-select formControlName="payTerms" class="form-select fs- py-2" placeholder="Select">
                                <mat-option *ngFor="let terms of payTerms" [value]="terms.id">
                                    {{terms.name}} ({{terms.id}})
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>










                </div>




                <div class="separator separator-dashed my-7 "></div>

                <div class="pspw60 ">
                    <div class="fw-bold mb-5 mt-9">ORGANIZATION DETAILS</div>


                    <div class="form-group mb-5">
                        <label class="mb-1">Legal Entity <span class="text-danger">*</span></label>
                        <mat-select formControlName="legalEntity" class="form-select fs- py-2" placeholder="Select" (selectionChange)="getLegalEntityCode($event)">
                            <mat-option *ngFor="let entities of legalEntities" [value]="entities.companyCode">
                                {{entities.title}}
                            </mat-option>
                        </mat-select>
                    </div>

                    <div class="container  mb-5">
                        <div class="row justify-content-between">
                            <div class="col-6 p-0 pe-4">
                                <div class="form-group">
                                    <label class="mb-1">Site <span class="text-danger">*</span></label>
                                    <mat-select class="form-select fs- py-2" placeholder="Select" #siteSelect (selectionChange)="setLocationValue($event)">
                                        <mat-option *ngFor="let site of siteList" [value]="site">
                                            {{site.name}} ({{site.code}})
                                        </mat-option>
                                    </mat-select>
                                </div>
                            </div>
                            <div class="col-6 p-0  ps-4">
                                <div class="form-group">
                                    <label class="mb-1">Location</label>
                                    <input formControlName="location" type="input" class="form-control py-2 fs- fw-normal">
                                </div>
                            </div>
                        </div>
                    </div>





                    <div class="form-group mb-5">
                        <label class="mb-1">Business Unit <span class="text-danger">*</span></label>
                        <mat-select formControlName="businessUnit" class="form-select fs- py-2" placeholder="Select">
                            <mat-option *ngFor="let units of businessUnits" [value]="units.code">
                                {{units.name}} ({{units.code}})
                            </mat-option>
                        </mat-select>
                    </div>

                    <!-- <div class="form-group mb-5 d-flex align-items-center">
                    <label class="checkbox checkbox-outline checkbox-success">
                        <input type="checkbox" name="Checkboxes15">
                        <span></span>
                        Invite Only
                    </label>
                    <label class="mb-1 ms-10 me-3">Vendor List </label>

                    <select name="" id="" class="form-select w-50 fs- py-2">
                        <option value="">Select</option>
                    </select>
                </div> -->
                </div>

                <div class="fw-bold mb-5  mt-9">Attachments</div>

                <div class="fv-row mb-5 ">
                    <!--begin::Dropzone-->
                    <div class="dropzone dz-clickable bg-light-primary border border-dashed text-center" DropZone
                    (click)="fileInputOther.click()" (change)="selectFile($event)" (click)="clearFileInput($event)">
                        <!--begin::Message-->
                        <div class=" text-center w-100 text-muted">
                            <!--begin::Icon-->
                            <i class="fas fa-cloud-upload-alt  fs-2x"></i> <!--end::Icon-->
                            <!--begin::Info-->
                            <div class="ms-4">
                                <input type="file" hidden #fileInputOther accept=".pdf,.doc,.docx,.xls,.xlsx">
                                <h3 class="fs-5 mb-1"> <a class=" text-primary ">Click to upload </a> or Drop files
                                    here.</h3>
                                <span class="fs-7 fw-semibold text-gray-400">.pdf, .doc, .docx, .xls, .xlsx (size  less than 2mb)</span>
                            </div>
                            <!--end::Info-->
                        </div>
                    </div>
                    <div *ngIf="workOrderData.controls['documentList'].value" class="d-flex flex-wrap ">
                        <a *ngFor="let doc of workOrderData.controls['documentList'].value; let index = index" class="me-3 mt-4 border rounded-1 py-1 px-3  text-active-primary">
                               {{doc.name}}
                               <span class="cursor-pointer ms-3 ">
                                <i class="bi bi-x-circle" (click)="clearFile(index)"></i></span>
    
                        </a>
                     </div>
                    <!--end::Dropzone-->
                </div>
            </ng-container>



            <ng-container *ngIf="isSelectedTab=='Task'">

                <a id="kt_work_order_new_task_drawer_toggle" class="btn btn-primary btn-sm cursor-pointer mb-6"> <i
                        class="bi bi-plus-lg"></i>New Task</a>
                <app-work-order-new-task-drawer></app-work-order-new-task-drawer>

        
                <div class="mt-5 border">
                    <table mat-table [dataSource]="dataSource" class="table table-row-bordered border-bottom text-gray-600 m-0">

                        <!-- taskId Column -->
                        <ng-container matColumnDef="taskId">
                            <th mat-header-cell *matHeaderCellDef class="align-middle"><i class="bi bi-hash"></i> Task
                                Id </th>
                            <td mat-cell *matCellDef="let element" class="align-middle">
                                {{element.taskId}} </td>
                        </ng-container>

                        <!-- taskName Column -->
                        <ng-container matColumnDef="title">
                            <th mat-header-cell *matHeaderCellDef class="align-middle"><i
                                    class="bi bi-file-earmark-font"></i> Task Name </th>
                            <td mat-cell *matCellDef="let element" class="align-middle"> {{element.title}} </td>
                        </ng-container>


                        <!-- priority Column -->
                        <ng-container matColumnDef="priority">
                            <th mat-header-cell *matHeaderCellDef class="align-middle"><i class="bi bi-tag"></i>
                                Priority </th>
                            <td mat-cell *matCellDef="let element" class="align-middle">
                                <span class="badge badge-light-danger" 
                                [ngClass]="{' badge-light-danger text-danger': (element.priority === 'High' || element.priority === 'Medium'),
                                'badge-light-success text-success' : element.priority === 'Low'  }">
                                <i class="fas fa-yin-yangfas fa-circle px-1 fs-10"
                                [ngClass]="{'text-danger': (element.priority === 'High' || element.priority === 'Medium'),
                                'text-success' : element.priority === 'Low'  }"></i>
                                
                                {{element.priority}}</span>
                            </td>
                        </ng-container>

                        <!-- assignTo Column -->
                        <ng-container matColumnDef="assigneeId">
                            <th mat-header-cell *matHeaderCellDef class="align-middle"><i class="bi bi-person"></i>
                                Assign To </th>
                            <td mat-cell *matCellDef="let element" class="align-middle">
                                <div class="symbol symbol-30px symbol-square me-3">
                                    <!-- <span class="symbol-label fs-5 fw-bolder bg-light-warning fs-4">SL </span> -->
                                </div> {{element.assigneeId}}
                            </td>
                        </ng-container>

                        <!-- startDate Column -->
                        <ng-container matColumnDef="startDate">
                            <th mat-header-cell *matHeaderCellDef class="align-middle"><i class="bi bi-calendar"></i> Start Date </th>
                            <td mat-cell *matCellDef="let element" class="align-middle"> {{element.startDate | date: 'MMM dd, yyyy'}} </td>
                        </ng-container>

                        <!-- eta Column -->
                        <ng-container matColumnDef="finishDate">
                            <th mat-header-cell *matHeaderCellDef class="align-middle"><i class="bi bi-calendar"></i>
                                ETA. </th>
                            <td mat-cell *matCellDef="let element" class="align-middle"> {{element.finishDate | date: 'MMM dd, yyyy'}} </td>
                        </ng-container>

                  
                        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="bg-light-primary"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                        </tr>
                      </table>
                      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
                    </div>

              
          
                </ng-container>

                </div>
                <div class="d-flex text-sm-end gap-md-5 justify-content-end p-10">
                    <button type="reset" class="btn">Cancel</button>
                    <button type="reset" class="btn btn-light-primary ">Save as Draft</button>
                    <button type="button" class="btn btn-primary" (click)="submitWorkOrder('ACTIVE')">Submit</button>
                </div>

        </div>
    </div>
</form>