<div
  id="kt_invoice_add_timesheet_drawer"
  class="bg-body"
  data-kt-drawer="true"
  data-kt-drawer-name="invoice_add_timesheet_drawer"
  data-kt-drawer-activate="true"
  data-kt-drawer-overlay="true"
  data-kt-drawer-width="{default:'300px', 'lg': '700px'}"
  data-kt-drawer-direction="end"
  data-kt-drawer-toggle="#kt_invoice_add_timesheet_drawer_toggle"
  data-kt-drawer-close="#kt_invoice_add_timesheet_close"
>
  <div class="card shadow-none rounded-0 w-100">
    <div class="d-flex justify-content-between px-7">
      <div>
        <h3 class="card-title fw-bolder text-dark mt-4">
          Flip Timesheets to Invoice
        </h3>
        <div>
          The following are the timesheets which are approved but not submitted
          in the invoice for the payment.
        </div>
      </div>
    </div>
    <button
      type="button"
      class="btn btn-sm btn-icon btn-light-primary border pspdrawerclose"
      id="kt_invoice_add_timesheet_close"
      (click)="selection.clear()"
    >
      <span
        [inlineSVG]="'./assets/media/icons/duotune/arrows/arr061.svg'"
        class="svg-icon svg-icon-1"
      ></span>
    </button>

    <div
      class="card-body position-relative pt-8"
      id="kt_invoice_add_timesheet_body"
    >
      <div class="border">
        <table
          mat-table
          [dataSource]="dataSource"
          class="table table-row-bordered text-gray-600 qfs-13 "
        >
          <!-- Checkbox Column -->
          <ng-container matColumnDef="select" class="align-middle">
            <th mat-header-cell *matHeaderCellDef class="align-middle">
              <mat-checkbox
                (change)="$event ? toggleAllRows() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
                [aria-label]="checkboxLabel()"
                color="primary"
              >
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row" class="align-middle">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)"
                [aria-label]="checkboxLabel(row)"
                color="primary"
              >
              </mat-checkbox>
            </td>
          </ng-container>
          <!-- taskSheet Column -->
          <ng-container matColumnDef="taskSheet">
            <th mat-header-cell *matHeaderCellDef class="align-middle">
              Task Sheet
            </th>
            <td mat-cell *matCellDef="let element" class="align-middle fw-bold">
              <div class="symbol symbol-35px symbol-circle me-3">
                <span
                  class="symbol-label fw-bolder bg-light-warning fs-4 fas fa-clipboard-list"
                >
                </span>
              </div>
              {{ element.timeSheetId }}
            </td>
          </ng-container>

          <!-- period Column -->
          <ng-container matColumnDef="period">
            <th mat-header-cell *matHeaderCellDef class="align-middle">
              Period
            </th>
            <td mat-cell *matCellDef="let element" class="align-middle">
              {{ element.fromDate | date : "MMM dd" }} -
              {{ element.toDate | date : "MMM dd,yyyy" }}
            </td>
          </ng-container>

          <!-- workedHr Column -->
          <ng-container matColumnDef="workedHr">
            <th mat-header-cell *matHeaderCellDef class="align-middle">
              Worked (hr)
            </th>
            <td mat-cell *matCellDef="let element" class="align-middle fw-bold">
              {{ element.timeSpent }}.0
            </td>
          </ng-container>

          <!-- status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="align-middle">
              Status
            </th>
            <td mat-cell *matCellDef="let element" class="align-middle">
              <span
                class="fw-semibold"
                [ngClass]="{
                  ' text-warning': element.status === 'IN_PROGRESS',
                  'text-success':
                    element.status === 'APPROVED_BY_COMPANY' ||
                    element.status === 'APPROVED_BY_VENDOR',
                  'text-danger': element.status === 'REJECTED'
                }"
                >{{ element.displayStatus }}</span
              >
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns"
            class="bg-light h-35px"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            (click)="selection.toggle(row)"
          ></tr>
        </table>

        <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons 
    aria-label="Select page of periodic elements">
</mat-paginator> -->
      </div>
      <div class="d-flex justify-content-end p-7">
        <img src="./assets/images/add-invoice-bg.svg" alt="" />
      </div>
    </div>

    <div
      class="card-footer py-5 d-flex text-sm-end gap-md-5 justify-content-end p-10"
      id="kt_invoice_add_timesheet_footer"
    >
      <button
        type="reset"
        class="btn btn-sm btn-outline"
        id="kt_invoice_add_timesheet_close"
        (click)="selection.clear()"
      >
        Cancel
      </button>
      <button
        type="button"
        class="btn btn-sm btn-primary"
        [disabled]="!selection.selected.length"
        (click)="continue()"
      >
        Add to Invoice
      </button>
    </div>
  </div>
</div>
