<!-- Dashboard -->
<!-- <div class="menu-item me-lg-1 q_menu">
  <a class="menu-link py-2" routerLinkActive="active menu-here" routerLink="/dashboard"><span class="menu-title"
      translate="MENU.DASHBOARD"></span></a>
</div> -->
<div class="menu-item q_hdr me-lg-8">
  <img src="./assets/hourglass-logo.PNG" alt="" />
</div>
<div class="menu-item me-lg-1 q_menu" *ngIf="auth?.isAdmin">
  <a
    class="menu-link py-2"
    routerLinkActive="active menu-here"
    [routerLink]="jobPostsUrl"
    (click)="removeSessionStorage()"
    ><span class="menu-title"> Job Posts </span></a
  >
</div>

<div class="menu-item me-lg-1 q_menu" *ngIf="auth?.isAdmin">
  <a
    class="menu-link py-2"
    [class.active]="isActiveLink"
    routerLinkActive="menu-here"
    [routerLink]="workOrderUrl"
    (click)="removeSessionStorage()"
    ><span class="menu-title"> Work Orders</span></a
  >
</div>
<ng-container *ngIf="!setHiringManager && auth?.isAdmin">
  <div class="menu-item me-lg-1 q_menu">
    <a
      class="menu-link py-2"
      routerLinkActive="active menu-here"
      routerLink="/work-force"
      (click)="removeSessionStorage()"
      ><span class="menu-title"> Work Force</span></a
    >
  </div>
</ng-container>

<div class="menu-item me-lg-1 q_menu" *ngIf="!setHiringManager">
  <a
    class="menu-link py-2"
    routerLinkActive="active menu-here"
    routerLink="/timesheets"
    (click)="removeSessionStorage()"
    ><span class="menu-title">Timesheets</span></a
  >
</div>
<div class="menu-item me-lg-1 q_menu" *ngIf="setHiringManager">
  <a
    class="menu-link py-2"
    routerLinkActive="active menu-here"
    routerLink="hm/timesheets"
    (click)="removeSessionStorage()"
    ><span class="menu-title">Timesheets</span></a
  >
</div>
<div class="menu-item me-lg-1 q_menu" *ngIf="auth?.isAdmin">
  <a
    *ngIf="!setHiringManager"
    class="menu-link py-2"
    routerLinkActive="active menu-here"
    routerLink="/invoices"
    (click)="removeSessionStorage()"
    ><span class="menu-title">Invoices</span></a
  >
  <a
    *ngIf="setHiringManager"
    class="menu-link py-2"
    routerLinkActive="active menu-here"
    routerLink="hm/invoices"
    (click)="removeSessionStorage()"
    ><span class="menu-title">Invoices</span></a
  >
</div>
<ng-container *ngIf="setHiringManager">
  <!-- <div class="menu-item me-lg-1 q_menu">
    <a class="menu-link py-2" routerLinkActive="active menu-here" routerLink="/business-admin"><span class="menu-title">Business Admin</span></a>
  </div>
  
  <div class="menu-item me-lg-1 q_menu">
    <a class="menu-link py-2" routerLinkActive="active menu-here" routerLink="/admin"><span class="menu-title">Admin</span></a>
  </div> -->
</ng-container>
<!-- <div class="menu-item me-lg-1 q_menu">
  <a
    class="menu-link py-2"
    routerLinkActive="active menu-here"
    [routerLink]="logoutUrl"
    (click)="logout()"
    ><span class="menu-title"> Logout </span></a
  >
</div> -->
<!-- 
<div class="form-check form-check-custom form-check-solid form-check-success form-switch">
  <input type="checkbox" name="model.app.sidebar.default.minimize.desktop.enabled" class="form-check-input ng-valid ng-dirty ng-touched" ng-reflect-name="model.app.sidebar.default.mini" ng-reflect-model="true"
    (change)="switchMode($event)" [checked]="!setHiringManager">
  <label for="kt_builder_sidebar_minimize_desktop_enabled" data-bs-toggle="tooltip" data-kt-initialized="1" class="form-check-label text-white">
    {{switch_text}}
  </label>
</div> -->
