<div
  *ngIf="loading"
  class="pause d-flex align-items-center justify-content-center"
>
  <div class="spinner"></div>
</div>
<div class="content flex-column-fluid auto container-lg mb-4">
  <div class="py-5 fw-bold">
    <a
      class="cursor-pointer text-body"
      routerLink="/hm/job-posts"
      [queryParams]="{
        pageNo: pageNo,
        pageSize: pageSize,
        status: selectedTab?.toUpperCase(),
        sortBy: sortBy,
        sortOrder: sortOrder
      }"
    >
      <i class="fas fa-arrow-left me-2 text-body fs-6 align-middle"></i> #{{
        jobDetails?.id
      }}</a
    >
    <span class="badge badge-light-success fw-normal ms-3">
      <i class="fas fa-yin-yangfas fa-circle px-1 text-success fs-10"></i>
      {{ jobDetails?.status === "ACTIVE" ? "Published" : jobDetails?.status }}
    </span>
  </div>
  <!--begin:: Top Card-->

  <div class="card mb-5 mb-xl-10">
    <div class="card-body pb-0">
      <div
        class="d-flex justify-content-between align-items-start flex-wrap mb-3"
      >
        <div class="d-flex flex-column">
          <div class="mb-2">
            <h5 class="text-dark text-gray-800 fs-2 me-1">
              {{ jobDetails?.title }}
            </h5>
            <a class="mb-5 fw-bold cursor-pointer block"
              >#{{ jobDetails?.id }}</a
            >
            <div class="mt-2 mb-2 text-muted block">
              Posted on {{ jobDetails?.registerDate | date : "MMM d, y" }}
            </div>
          </div>

          <div class="d-flex flex-wrap flex-stack">
            <div class="d-flex flex-column flex-grow-1 pe-8">
              <div class="d-flex flex-wrap lign-items-center">
                <div class="flex-lg-fill me-5 my-1">
                  <span class="d-flex text-muted fs-8">Business Unit</span>
                  <span class="fw-bold d-flex s-"
                    >{{ jobDetails?.businessUnitDetails.name }} ({{
                      jobDetails?.businessUnitDetails.code
                    }})</span
                  >
                </div>
                <div class="vr me-5 mt-4 h-20px"></div>
                <div class="flex-lg-fill me-5 my-1">
                  <span class="d-flex text-muted fs-8">Site</span>
                  <span class="fw-bold d-flex s-"
                    >{{ jobDetails?.siteDetails.name }} ({{
                      jobDetails?.siteDetails.code
                    }})</span
                  >
                </div>
                <div class="vr me-5 mt-4 h-20px"></div>
                <div class="flex-lg-fill me-5 my-1">
                  <span class="d-flex text-muted fs-8">Positions</span>
                  <span class="fw-bold d-flex s-">{{
                    jobDetails?.openPosition
                  }}</span>
                </div>
                <div class="vr me-5 mt-4 h-20px"></div>
                <div class="flex-lg-fill me-5 my-1">
                  <span class="d-flex text-muted fs-8">Status</span>
                  <span class="badge badge-light-success fw-normal">
                    <i
                      class="fas fa-yin-yangfas fa-circle px-1 text-success fs-10"
                    ></i>
                    {{
                      jobDetails?.status === "ACTIVE"
                        ? "Published"
                        : jobDetails?.status
                    }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="my-4">
          <div>
            <div class="w-20px display-inline my-1 me-1">
              <img class="" src="./assets/images/icons/calendar.svg" alt="" />
            </div>
            {{ jobDetails?.startDate | date : "MMM dd" }} -
            {{ jobDetails?.endDate | date : "dd MMM, yyyy" }}
          </div>
          <div>
            <div class="w-20px display-inline my-1 me-1">
              <img class="" src="./assets/images/icons/case.svg" alt="" />
            </div>
            {{ jobDetails?.type }}
          </div>
          <div
            class="mw-175px mh-45px border mt-3 d-flex align-items-center justify-content-center min-h-35px min-w-40px overflow-hidden"
          >
            <img src="./assets/images/smartdocs.jpeg" class="mw-100 mh-100" />
          </div>
        </div>
      </div>
      <!-- Tabs Start:: -->
      <div class="d-flex overflow-auto border-top">
        <ul
          class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 flex-nowrap"
        >
          <li class="nav-item">
            <a
              class="nav-link cursor-pointer text-active-primary me-6 active"
              (click)="getSelectedTab('Details')"
              [ngClass]="{ active: isSelectedTab == 'Details' }"
            >
              Details
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link cursor-pointer text-active-primary me-6"
              (click)="
                getSelectedTab('Documents'); getJobDocuments(jobDetails.id)
              "
              [ngClass]="{ active: isSelectedTab == 'Documents' }"
            >
              Documents
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link cursor-pointer text-active-primary me-6"
              (click)="
                getSelectedTab('JobSeekers'); getJobSeekersList(jobDetails.id)
              "
              [ngClass]="{ active: isSelectedTab == 'JobSeekers' }"
            >
              Job Seekers
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link cursor-pointer text-active-primary me-6"
              (click)="
                getSelectedTab('Interviewed'); getInterviewedList(jobDetails.id)
              "
              [ngClass]="{ active: isSelectedTab == 'Interviewed' }"
            >
              Interviewed
            </a>
          </li>
        </ul>
      </div>
      <!-- Tabs End:: -->
    </div>
  </div>

  <!--End:: Top Card-->

  <ng-container *ngIf="isSelectedTab == 'Details'">
    <div class="d-flex row gy-10 gx-xl-10">
      <!--Begin:: Job details Card-->
      <div class="col-xl-6">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Job Details</h5>
            <div class="separator my-4"></div>
            <h6 class="mb-2 fs-7 text-gray-700">Job Description</h6>

            <p class="card-text" [innerHTML]="jobDetails?.description"></p>
            <ng-container>
              <div class="form-group row">
                <label class="col-4 col-form-label text-muted"
                  >Legal Entity</label
                >
                <div class="col-8">
                  <span class="form-control-plaintext"
                    >{{ jobDetails?.companyDetails?.title }} ({{
                      jobDetails?.companyDetails?.companyCode
                    }})</span
                  >
                </div>
              </div>
              <div class="separator separator-dashed my-"></div>
            </ng-container>
            <ng-container>
              <div class="form-group row">
                <label class="col-4 col-form-label text-muted">Site</label>
                <div class="col-8">
                  <span class="form-control-plaintext"
                    >{{ jobDetails?.siteDetails.name }} ({{
                      jobDetails?.siteDetails.code
                    }})</span
                  >
                </div>
              </div>
              <div class="separator separator-dashed my-"></div>
            </ng-container>
            <ng-container>
              <div class="form-group row">
                <label class="col-4 col-form-label text-muted"
                  >Work Location</label
                >
                <div class="col-8">
                  <span class="form-control-plaintext"
                    >{{ jobDetails?.siteDetails.address1 }}
                    {{ jobDetails?.siteDetails.address2 }}</span
                  >
                </div>
              </div>
              <div class="separator separator-dashed my-"></div>
            </ng-container>
            <ng-container>
              <div class="form-group row">
                <label class="col-4 col-form-label text-muted"
                  >Business Unit</label
                >
                <div class="col-8">
                  <span class="form-control-plaintext"
                    >{{ jobDetails?.businessUnitDetails.name }} ({{
                      jobDetails?.businessUnitDetails.code
                    }})</span
                  >
                </div>
              </div>
              <div class="separator separator-dashed my-"></div>
            </ng-container>
            <ng-container>
              <div class="form-group row">
                <label class="col-4 col-form-label text-muted"
                  >Positions Requested</label
                >
                <div class="col-8">
                  <span class="form-control-plaintext">{{
                    jobDetails?.openPosition
                  }}</span>
                </div>
              </div>
              <div class="separator separator-dashed my-"></div>
            </ng-container>
            <ng-container>
              <div class="form-group row">
                <label class="col-4 col-form-label text-muted"
                  >Time Sheet Frequency</label
                >
                <div class="col-8">
                  <span class="form-control-plaintext">{{
                    timeSheetFrequencyList[jobDetails?.timeSheetFreq]
                  }}</span>
                </div>
              </div>
              <div class="separator separator-dashed my-"></div>
            </ng-container>
            <ng-container>
              <div class="form-group row">
                <label class="col-4 col-form-label text-muted"
                  >Hours Per Week</label
                >
                <div class="col-8">
                  <span class="form-control-plaintext">{{
                    jobDetails?.workHours
                  }}</span>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <!--End:: Job details Card-->
      <div class="col-xl-6 d-flex justify-content-between flex-column">
        <!-- <div class=" flex row"> -->
        <!--Start::  Posting Card-->
        <div class="col-xl-12">
          <div class="card card-custom gutter-b mb-4">
            <div class="card-body">
              <h5 class="card-title">Posting Information</h5>
              <div class="separator mt-4"></div>
              <ng-container>
                <div class="form-group row">
                  <label class="col-4 col-form-label text-muted"
                    >Job Posting Owner</label
                  >
                  <div class="col-8">
                    <span class="form-control-plaintext">{{
                      jobDetails?.managerDetails?.firstName +
                        " " +
                        jobDetails?.managerDetails?.lastName
                    }}</span>
                  </div>
                </div>
                <div class="separator separator-dashed my-"></div>
              </ng-container>
              <ng-container>
                <div class="form-group row">
                  <label class="col-4 col-form-label text-muted">Creator</label>
                  <div class="col-8">
                    <span class="form-control-plaintext">{{
                      jobDetails?.managerDetails?.permissions
                    }}</span>
                  </div>
                </div>
                <div class="separator separator-dashed my-"></div>
              </ng-container>
              <ng-container>
                <div class="form-group row">
                  <label class="col-4 col-form-label text-muted"
                    >Created Date</label
                  >
                  <div class="col-8">
                    <span class="form-control-plaintext">{{
                      jobDetails?.registerDate | date : "dd MMM, yyyy"
                    }}</span>
                  </div>
                </div>
                <div class="separator separator-dashed my-"></div>
              </ng-container>
              <ng-container>
                <div class="form-group row">
                  <label class="col-4 col-form-label text-muted"
                    >Due Date</label
                  >
                  <div class="col-8">
                    <span class="form-control-plaintext">{{
                      jobDetails?.endDate | date : "dd MMM, yyyy"
                    }}</span>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <!--End::  Posting Card-->
        <!--Start::  Accounting Card-->
        <div class="col-xl-12">
          <div class="card card-custom gutter-b">
            <div class="card-body">
              <h5 class="card-title">Accounting</h5>
              <div class="separator mt-4"></div>
              <ng-container>
                <div class="form-group row">
                  <label class="col-4 col-form-label text-muted"
                    >Preferred Working Rate</label
                  >
                  <div class="col-8">
                    <span
                      class="form-control-plaintext"
                      *ngIf="jobDetails?.jobKind !== 'Hourly'"
                      >{{
                        jobDetails?.minBudget + "-" + jobDetails?.maxBudget
                      }}
                      {{ jobDetails?.currency }}</span
                    >
                    <span
                      class="form-control-plaintext"
                      *ngIf="jobDetails?.jobKind === 'Hourly'"
                      >{{ jobDetails?.rate }} {{ jobDetails?.currency }}</span
                    >
                  </div>
                </div>
                <div class="separator separator-dashed my-"></div>
              </ng-container>
              <ng-container>
                <div class="form-group row">
                  <label class="col-4 col-form-label text-muted"
                    >Payment Terms</label
                  >
                  <div class="col-8">
                    <span class="form-control-plaintext">{{
                      jobDetails?.payTerms
                    }}</span>
                  </div>
                </div>
                <div class="separator separator-dashed my-"></div>
              </ng-container>
              <ng-container>
                <div class="form-group row">
                  <label class="col-4 col-form-label text-muted"
                    >Cost Center</label
                  >
                  <div class="col-8">
                    <span class="form-control-plaintext">{{
                      jobDetails?.costCenter
                    }}</span>
                  </div>
                </div>
                <!-- <div class="separator separator-dashed my-"></div> -->
              </ng-container>
            </div>
          </div>
        </div>
        <!--End::  Accounting Card-->
        <!-- </div> -->
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="isSelectedTab == 'Documents'">
    <ng-container *ngFor="let documents of documentsList">
      <div class="d-flex align-items-center mb-4 bg-white rounded p-5">
        <!--begin::Icon-->
        <span class="symbol symbol-35px align-middle me-5">
          <img alt="" [src]="getDocIcon(documents.fileName)"
        /></span>
        <!--end::Icon-->

        <!--begin::Title-->
        <div class="d-flex flex-column min-w-50 mr-2">
          <a class="text-dark text-hover-primary mb-1 font-size-lg">{{
            documents.fileName
          }}</a>
          <span class="text-muted"
            >Uploaded by
            <a class="q-link-text"
              >{{ documents?.userDetails?.firstName }}
              {{ documents?.userDetails?.lastName }}</a
            >
            on {{ documents.modifierDate | date : "fullDate" }}
            {{ documents.modifierDate | date : "hh:mm a" }}</span
          >
        </div>
        <div class="d-flex w-sm-100 mr-2">
          <span class="badge badge-light-primary qfs-12 w-auto">{{
            documents.type
          }}</span>
        </div>
        <!--end::Title-->

        <!--begin::Lable-->
        <div class="font-weight-bolder text-warning py-1 font-size-lg w-250px">
          <a
            href="javascript:;"
            (click)="getAttachment(documents.id, documents.fileName)"
            class="btn btn-icon btn-active-color-primary btn-sm me-3"
          >
            <img src="./assets/images/icons/download.svg" alt="" />
          </a>
          <a
            href="javascript:;"
            class="btn btn-icon btn-sm"
            (click)="openModal(documents.id)"
          >
            <img src="./assets/images/icons/eye.svg" alt="" />
          </a>
        </div>
        <!--end::Lable-->
      </div>
    </ng-container>

    <div
      *ngIf="apiLoad && documentsList.length == 0"
      class="fw-semibold fs-3 min-h-sm-350px d-flex align-items-center justify-content-center"
    >
      No Records Found
    </div>
  </ng-container>
  <ng-container *ngIf="isSelectedTab == 'JobSeekers'">
    <div class="d-flex row align-items-center mb-4 bg-white rounded m-0">
      <table
        mat-table
        [dataSource]="dataSource"
        class="table table-row-bordered text-gray-600 qfs-13"
      >
        <!-- vendor Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef class="align-middle">
            <i class="bi bi-building"></i> Vendor
          </th>
          <td mat-cell *matCellDef="let element" class="align-middle fw-bold">
            ({{ element.vendorId }}) {{ element?.vendorDetails?.title }}
          </td>
        </ng-container>

        <!-- appID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="align-middle">
            <img
              src="./assets/images/icons/tdoc.svg"
              alt=""
              class="align-text-bottom me-1"
            />
            Application ID
          </th>
          <td mat-cell *matCellDef="let element" class="align-middle">
            <a
              id="kt_application_drawer_toggle"
              class="fw-bold cursor-pointer"
              (click)="
                getApplicationDetails(element.id); setSelectedJobSeeker(element)
              "
            >
              {{ element.id }}
            </a>
            <!-- <app-application-drawer></app-application-drawer></td> -->
          </td></ng-container
        >

        <!-- worker Column -->
        <ng-container matColumnDef="worker">
          <th mat-header-cell *matHeaderCellDef class="align-middle">
            <img
              src="./assets/images/icons/manager.svg"
              class="align-text-bottom me-1"
              alt=""
            />
            Worker
          </th>
          <td mat-cell *matCellDef="let element" class="align-middle">
            <div class="symbol symbol-35px rounded-1 me-3">
              <span class="symbol-label fs-5 fw-bolder bg-light-warning fs-4">
                {{element?.firstName?.[0].toUpperCase()



























                }}{{element?.lastName?.[0].toUpperCase()}}
              </span>
            </div>
            {{ element.firstName }} {{ element.lastName }}
          </td>
        </ng-container>

        <!-- appliedBy Column -->
        <ng-container matColumnDef="appliedBy">
          <th mat-header-cell *matHeaderCellDef class="align-middle">
            <img
              src="./assets/images/icons/manager.svg"
              class="align-text-bottom me-1"
              alt=""
            />
            Applied by
          </th>
          <td mat-cell *matCellDef="let element" class="align-middle">
            {{ element.appliedBy?.firstName }} {{ element.appliedBy?.lastName }}
          </td>
        </ng-container>

        <!-- lastUpdate Column -->
        <ng-container matColumnDef="modifierDate">
          <th mat-header-cell *matHeaderCellDef class="align-middle">
            <img
              src="./assets/images/icons/tclock.svg"
              alt=""
              class="align-text-bottom me-1"
            />
            Last Update
          </th>
          <td mat-cell *matCellDef="let element" class="align-middle">
            {{ element.modifierDate | date : "MMMM d, yyyy h:mm a" }}
          </td>
        </ng-container>

        <!-- costing Column -->
        <ng-container matColumnDef="workRate">
          <th mat-header-cell *matHeaderCellDef class="align-middle">
            <img
              src="./assets/images/icons/tcost.svg"
              alt=""
              class="align-text-bottom me-1"
            />
            Costing
          </th>
          <td mat-cell *matCellDef="let element" class="align-middle">
            {{ element.workRate | number : "1.2-2" }}
            {{ element.workRateCurrency }}
          </td>
        </ng-container>

        <!-- action Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef class="align-middle"></th>
          <td mat-cell *matCellDef="let element" class="align-middle">
            <div class="d-flex align-items-center justify-content-center gap-5">
              <a
                id="kt_logs_drawer_toggle"
                class="cursor-pointer"
                (click)="setApplicationId(element.id)"
              >
                <img src="./assets/images/icons/jobpost-timer.svg" alt="" />
                <!-- <i class="bi bi-clock fw-bold text-primary"></i> -->
              </a>

              <a id="kt_chat_drawer_toggle" class="cursor-pointer">
                <!-- <i class="bi bi-chat-left-text"></i>  -->
                <img src="./assets/images/icons/jobpost-msg.svg" alt="" />
                <span class="text-danger ms-2 fw-bold">5</span>
              </a>

              <div
                ngbDropdown
                class="d-flex justify-content-start"
                placement="bottom-end"
              >
                <button
                  class="btn btn-sm btn-primary min-w-100px"
                  id="dropdownMenu"
                  ngbDropdownToggle
                  *ngIf="element.displayStatus !== 'Offer Letter Accepted'"
                >
                  Actions
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownMenu">
                  <button
                    ngbDropdownItem
                    id="kt_send_offer_letter_drawer_toggle"
                    class="cursor-pointer"
                    (click)="setSelectedJobSeeker(element)"
                  >
                    Send Offer Letter
                  </button>
                  <button
                    ngbDropdownItem
                    (click)="takeAction(element.id, 'HOLD')"
                  >
                    Keep Hold
                  </button>
                  <button
                    ngbDropdownItem
                    (click)="takeAction(element.id, 'REJECTED')"
                  >
                    Reject
                  </button>
                </div>
              </div>
            </div>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns"
          class="bg-light-primary"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <div
        *ngIf="apiLoad && dataSource.data.length == 0"
        class="fw-semibold fs-3 min-h-sm-350px d-flex align-items-center justify-content-center"
      >
        No Records Found
      </div>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
  </ng-container>

  <ng-container *ngIf="isSelectedTab == 'Interviewed'">
    <div class="d-flex row align-items-center mb-4 bg-white rounded m-0">
      <table
        mat-table
        [dataSource]="dataSource"
        class="table table-row-bordered text-gray-600 qfs-13"
      >
        <!-- vendor Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef class="align-middle">
            <i class="bi bi-hash"></i> Vendor
          </th>
          <td mat-cell *matCellDef="let element" class="align-middle fw-bold">
            ({{ element.vendorId }}) {{ element?.vendorDetails?.title }}
          </td>
        </ng-container>

        <!-- appID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="align-middle">
            <img
              src="./assets/images/icons/text.svg"
              alt=""
              class="align-text-bottom me-1"
            />
            Application ID
          </th>
          <td mat-cell *matCellDef="let element" class="align-middle">
            <a
              id="kt_application_drawer_toggle"
              class="fw-bold cursor-pointer"
              (click)="getApplicationDetails(element.id)"
            >
              {{ element.id }}
            </a>
            <!-- <app-application-drawer></app-application-drawer> -->
          </td>
        </ng-container>

        <!-- worker Column -->
        <ng-container matColumnDef="worker">
          <th mat-header-cell *matHeaderCellDef class="align-middle">
            <img
              src="./assets/images/icons/manager.svg"
              class="align-text-bottom me-1"
              alt=""
            />
            Worker
          </th>
          <td mat-cell *matCellDef="let element" class="align-middle">
            <div class="symbol symbol-35px rounded-1 me-3">
              <span class="symbol-label fs-5 fw-bolder bg-light-warning fs-4">
                {{element?.firstName?.[0].toUpperCase()



























                }}{{element?.lastName?.[0].toUpperCase()}}
              </span>
            </div>
            {{ element.firstName }} {{ element.lastName }}
          </td>
        </ng-container>

        <!-- appliedBy Column -->
        <ng-container matColumnDef="appliedBy">
          <th mat-header-cell *matHeaderCellDef class="align-middle">
            <img
              src="./assets/images/icons/manager.svg"
              class="align-text-bottom me-1"
              alt=""
            />
            Applied by
          </th>
          <td mat-cell *matCellDef="let element" class="align-middle">
            {{ element.appliedBy?.firstName }} {{ element.appliedBy?.lastName }}
          </td>
        </ng-container>

        <!-- lastUpdate Column -->
        <ng-container matColumnDef="modifierDate">
          <th mat-header-cell *matHeaderCellDef class="align-middle">
            <img
              src="./assets/images/icons/tclock.svg"
              alt=""
              class="align-text-bottom me-1"
            />
            Last Update
          </th>
          <td mat-cell *matCellDef="let element" class="align-middle">
            {{ element.modifierDate | date : "MMMM d, yyyy h:mm a" }}
          </td>
        </ng-container>

        <!-- costing Column -->
        <ng-container matColumnDef="workRate">
          <th mat-header-cell *matHeaderCellDef class="align-middle">
            <img
              src="./assets/images/icons/tcost.svg"
              alt=""
              class="align-text-bottom me-1"
            />
            Costing
          </th>
          <td mat-cell *matCellDef="let element" class="align-middle">
            {{ element.workRate | number : "1.2-2" }}
            {{ element.workRateCurrency }}
          </td>
        </ng-container>

        <!-- action Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef class="align-middle"></th>
          <td mat-cell *matCellDef="let element" class="align-middle">
            <div class="d-flex align-items-center justify-content-start gap-5">
              <a id="kt_logs_drawer_toggle" class="btn btn-icon btn-sm"
                ><img src="./assets/images/icons/jobpost-timer.svg" alt=""
              /></a>

              <a id="kt_chat_drawer_toggle" class="btn btn-icon btn-sm"
                ><img src="./assets/images/icons/jobpost-msg.svg" alt=""
              /></a>

              <!-- <span  class="badge  fw-normal"
                  [ngClass]="{' badge-light-primary': element.action === 'Offer Letter sent', 
                  'badge-light-success' : element.action === 'Offer Letter Accepted' ,
                   'badge-light-danger' : (element.action === 'Rejected' || element.action === 'Keep Hold') 
                   }"
                  
                  
                  
                  >
                    {{element.status}}</span> -->

              <span
                class="badge fw-normal"
                [className]="getInterviewStatusClass(element.status)"
              >
                {{ element.displayStatus }}</span
              >
            </div>
            <app-logs-drawer
              [clickedApplication]="clickedApplication"
            ></app-logs-drawer>
            <app-chat-drawer></app-chat-drawer>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns"
          class="bg-light-primary"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <div
        *ngIf="apiLoad && dataSource.data.length == 0"
        class="fw-semibold fs-3 min-h-sm-350px d-flex align-items-center justify-content-center"
      >
        No Records Found
      </div>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
  </ng-container>

  <app-application-drawer
    [applicationDetails]="applicationDetails"
    [applicationAttachement]="applicationAttachement"
    [profilePic]="profilePic"
    [applicantsDetails]="applicantsDetails"
    [jobDetails]="jobDetails"
    [isSelectedTab]="isSelectedTab"
  ></app-application-drawer>
  <app-send-offer-letter-drawer
    [jobSeeker]="selectedJobSeeker"
    [jobDetails]="jobDetails"
  >
  </app-send-offer-letter-drawer>
  <app-chat-drawer></app-chat-drawer>
  <app-logs-drawer [clickedApplication]="clickedApplication"></app-logs-drawer>
</div>

<app-modal
  #modal
  [modalConfig]="modalConfig"
  style="max-width: 777px"
  data-nnn=""
>
  <ngx-doc-viewer [url]="pdfSrc" viewer="url" style="width: 100%; height: 93vh">
    <div>Loading</div>
  </ngx-doc-viewer>
</app-modal>
