::ng-deep{

    :host {
        width: 100%;
    }
}
.tolbar{
    background-color: white;
    margin-left: -15px;
    margin-right: -15px;
    // r-bottom: ;
}

.mat-select-arrow:not(.mat-paginator-container  .mat-select-arrow) {
    display: none;
  }
  .badge-light-warning {
    color: var(--kt-warning);
    background-color: var(--kt-warning-light)!important;
}
.fit-content{width: fit-content;}
.inp-x{
    position: absolute;
    top: 11px;
    right: 37px;
}
tr.mat-header-row {
    height: 44px!important;
}
.input-icon span {
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: calc(1.5em + 1.3rem + 2px);
}
.input-icon.input-icon-right span {
    right: 0;
    left: auto;
}
.pspw60{ width: 60%;}
.pspmw90{ width: 90%;}
.pspmw95{ max-width: 95%;}

.pspdrawerclose{
    margin-left: -34px;
    z-index: 9999;
    position: fixed;
    top: 0;
    opacity: 1;
    border-radius: 0;
}
.display-inline{display: inline-block}
.input-icon span.pspinpClose{right: 0; left: unset; position: absolute;}
.btn.btn-bg-light{background-color:#F0F9FF ;}
.dd-info-btn,.dd-info-btn2{
    position: absolute;
    right: -15px;
    z-index: 99;
}
.dd-info-btn2{ right: -22px;}
.tc_table{
    tr th:first-child,
    tr td:first-child{
        max-width: 70px;
        width: 70px;
    }
}
.qborder-table{
    th,td{ padding-left:10px ;}
    th.mat-header-cell:not(:first-child),
    td.mat-cell:not(:first-child)
     {
      border-left: 1px solid #eff2f5;
      padding-left:10px ;
      padding-right: 10px ;
     
    }
  }
.drawer{
    background-color: #1e1e2d;
    padding: 0 0px;
    }
// ::ng-deep{
    .drawer{
    .q_hdr_menu{
        padding:0!important;
        margin: 0!important;
        .q_hdr{
            background-color: #0b4a6f;
            text-align: center;
            margin-bottom: 10px;
        }
        .q_menu  {
            margin: 5px 20px !important;
        }
    }
       
        }

// .menu-link {
//     margin: 20px 0;
//     &.active{background-color: #2A2A3C;}
// }
    
// }
// ::ng-deep{
.btn.btn-primary{
    background-color: #0086C9 ;
}
    .mat-checkbox-inner-container{
        border-radius: 4px;
            // border: 1px solid #0086C9;
            // width: 20px!important;
            // height: 20px!important;
        }
        .mat-checkbox-frame {
            border-width: 1px!important;
            border-radius: 4px!important;
            border-color: #ddd!important;
            &:hover{
                border-color: #0086C9!important;
            }
        
        }
        
        .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background, .mat-checkbox-checked.mat-primary .mat-checkbox-background {
            background-color: #F0F9FF!important;
            border-radius: 4px;
            border: 1px solid #0086C9;
        }
        .mat-checkbox-mixedmark{
            background-color: #0086C9 !important;
        }
        .mat-checkbox-checkmark-path {
            stroke: #0086C9 !important;
        }
        .form-select{font-weight: unset;}
// }